.contactContainer{

    display: grid;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 4vh;


}

.contactBox{

    width: 30vw;
    background-color: rgb(76, 253, 253);
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: 5vh;

    border-left: 0.9vh solid black;
    border-bottom: 0.9vh solid black;
    border-top: 0.2vh solid black;
    border-right: 0.2vh solid black;

    animation: glowing-shadow-body 4s infinite;

}

.contactBox:hover{

    background-color: rgb(58, 201, 201);

    border-left: 1.3vh solid black;
    border-bottom: 1.3vh solid black;
    border-top: 0.3vh solid black;
    border-right: 0.3vh solid black;


}