.contactSection{

    display: flex;
    flex-direction: column;
    align-items: center;

}

.contactWrapper {

    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow-x: hidden;

}

.contactContainer {
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;  

    gap: 3vh;
    padding: 5vh 5vw;
    max-width: 100%;
    
}

.contactBox{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 8vw;
    height: 8vw;
    
    padding: 1.5vh;

    background-color: rgb(101, 255, 255);

    border-left: 0.8vh solid rgb(42, 82, 82);
    border-bottom: 0.8vh solid rgb(42, 82, 82);
    border-top: 0.2vh solid rgb(42, 82, 82);
    border-right: 0.2vh solid rgb(42, 82, 82);

    animation: glowing-shadow-components 4s infinite;

}

.contactBox:hover{

    background-color: rgb(44, 147, 147);

    border-left: 0.8vh solid rgb(19, 72, 72);
    border-bottom: 0.8vh solid rgb(19, 72, 72);
    border-top: 0.2vh solid rgb(19, 72, 72);
    border-right: 0.2vh solid rgb(19, 72, 72);

}

.contactImage{

    width: 55%;

}


@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {

    .contactContainer{
            
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 3vh;
        padding: 5vh 5vw;

    }

    .contactBox{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 20vw;
        height: 20vw;

        padding: 1.5vh;

        background-color: rgb(101, 255, 255);

        border-left: 0.6vh solid rgb(42, 82, 82);
        border-bottom: 0.6vh solid rgb(42, 82, 82);
        border-top: 0.2vh solid rgb(42, 82, 82);
        border-right: 0.2vh solid rgb(42, 82, 82);

        animation: glowing-shadow-components-mobile 4s infinite;

    }

    .contactBox:hover{
        
        background-color: rgb(44, 147, 147);

        border-left: 0.6vh solid rgb(19, 72, 72);
        border-bottom: 0.6vh solid rgb(19, 72, 72);
        border-top: 0.2vh solid rgb(19, 72, 72);
        border-right: 0.2vh solid rgb(19, 72, 72);

    }

    .contactImage{

        max-width: 70%;

    }

}