.contactContainer{

    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 4vh;

}

.contactBox{

    width: 30vw;
    background-color: rgb(155, 218, 218);
    height: 30vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-size: clamp(1.8rem, 5vh, 3rem);

    border-left: 0.9vh solid black;
    border-bottom: 0.9vh solid black;
    border-top: 0.2vh solid black;
    border-right: 0.2vh solid black;

    animation: glowing-shadow-components 4s infinite;

}

.contactBox:hover{

    background-color: rgb(58, 201, 201);

    border-left: 1.3vh solid black;
    border-bottom: 1.3vh solid black;
    border-top: 0.3vh solid black;
    border-right: 0.3vh solid black;


}



@media (max-width: 1000px) {

    .contactContainer{

        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        
        gap: 4vh;
        padding: 5vh;

    }

    .contactBox{

        min-width: 50vw;
        background-color: rgb(155, 218, 218);
        height: 30vh;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        font-size: clamp(1.5rem, 1vh, 3rem);

        border-left: 0.9vh solid black;
        border-bottom: 0.9vh solid black;
        border-top: 0.2vh solid black;
        border-right: 0.2vh solid black;

        animation: glowing-shadow-components-mobile 4s infinite;

    }

}