.introContainer{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;

}

.introText{

  color: white;
  font-size: clamp(1rem, 2.5vh, 2rem);

}

.resumeButton{

  background-color: rgb(111, 255, 255);
  font-size: 1.8rem;
  padding: 2vh;

  border-left: 0.8vh solid black;
  border-bottom: 0.8vh solid black;
  border-top: 0.2vh solid black;
  border-right: 0.2vh solid black;

  animation: glowing-shadow-subtitle 3s infinite;

}

.resumeButton:hover{

  background-color: rgb(82, 93, 255);
  color: white;

}