.projectOuterContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;

}

.projectsInnerContainer{

    padding: 3vh 3vw;
    width: 60%;
    box-shadow: 0 0 2vh 1vh rgb(205, 53, 255);

}


.cardCarouselButtonContainer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 

    gap: 3vw;
    max-width: 100%;

}

.cardCarouselButton{

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

    font-size: 3vh;
    padding: 1.5vh 1.5vw;

    background-color: rgb(28, 255, 255);

    border-left: 0.5vh solid rgb(0, 118, 118);
    border-bottom: 0.5vh solid rgb(0, 118, 118);
    border-top: 0.1vh solid rgb(0, 118, 118);
    border-right: 0.1vh solid rgb(0, 118, 118);

    box-shadow: 0 0 1vh 0.5vh rgb(70, 247, 253);

    animation: glowing-shadow-components 4s infinite;
    
}

.cardCarouselButton:hover{

    background-color: rgb(0, 81, 255);
    color: white;

    border-left: 0.5vh solid rgb(0, 30, 94);
    border-bottom: 0.5vh solid rgb(0, 30, 94);
    border-top: 0.1vh solid rgb(0, 30, 94);
    border-right: 0.1vh solid rgb(0, 30, 94);

    box-shadow: 0 0 1vh 0.5vh rgb(0, 81, 255);

}


.projectContainer{

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgb(184, 225, 254);
    padding: 3vh 3vw;
    gap: 1vh;

    font-size: 1.3vh;

    animation: glowing-shadow-components 3s infinite;

}


.projectTitle{

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

    font-size: 4vh;
    color: rgb(3, 0, 47);

}

.horizontalLineProject{

    height: 0.20vh;
    background-color: #000322;
    width: 80%;

}

.projectImage {

    width: 10vw;

    border-left: 0.4vh solid rgb(153, 0, 255);
    border-bottom: 0.4vh solid rgb(153, 0, 255);
    border-top: 0.4vh solid rgb(225, 0, 255);
    border-right: 0.4vh solid rgb(225, 0, 255);

    padding: 1vh 1vw;

    box-shadow: 0 0 1vh 0.35vh rgb(191, 0, 255);

}

.projectText{

    display: flex;
    flex-direction: column;

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

    gap: 1.5em;
    font-size: 2vh;
    color: rgb(3, 0, 47);
    padding: 3vh 4vw;
    border-radius: 1vw;

    box-shadow: 0 0 1vh 0.35vh rgb(76, 0, 255);
    
}


.projectMediaContainer{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    gap: 2vh;
    border-radius: 1vw;

    box-shadow: 0 0 1vh 0.35vh rgb(128, 0, 255);
    padding: 1.5vh 1.5vw;

}


.projectButton{

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

    font-size: 2vh;
    padding: 1.5vh 1.5vw;

    background-color: rgb(0, 179, 255);

    border-left: 0.5vh solid rgb(0, 91, 130);
    border-bottom: 0.5vh solid rgb(0, 91, 130);
    border-top: 0.2vh solid rgb(0, 91, 130);
    border-right: 0.2vh solid rgb(0, 91, 130);

}

.projectButton:hover{

    color: white;

    background-color: rgb(0, 47, 255);

    border-left: 0.5vh solid rgb(0, 24, 130);
    border-bottom: 0.5vh solid rgb(0, 24, 130);
    border-top: 0.2vh solid rgb(0, 24, 130);
    border-right: 0.2vh solid rgb(0, 24, 130);
    
}


/* Mobile adjustments */
@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {

    .projectOuterContainer{

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 3vh;

    }

    .projectsInnerContainer {

        padding: 2vw 2vh;
        width: 90%;
        padding: 0;
        box-shadow: none;

    }
    
    .projectContainer{

        display: flex;
        flex-direction: column;
        align-items: center;

        font-size: 1.3vh;
        padding: 5vw 1vh;
        gap: 1vh;

        background-color: rgb(184, 225, 254);
        box-shadow: 0 0 2vh 1vh rgb(205, 53, 255);
        animation: none;
        
    }

    .projectTitle{

        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;

        font-size: 3vh;
        color: rgb(3, 0, 47);

    }

    .projectImage {

        width: 25vw;
        
        border-left: 0.3vh solid rgb(153, 0, 255);
        border-bottom: 0.3vh solid rgb(153, 0, 255);
        border-top: 0.3vh solid rgb(225, 0, 255);
        border-right: 0.3vh solid rgb(225, 0, 255);

        padding: 1vw 1vh;

    }

    .horizontalLineProject{

        height: 0.15vh;
        background-color: #000322;
        width: 80%;

    }

    .projectText{

        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;

        font-size: 1.7vh;
        color: rgb(3, 0, 47);

        box-shadow: none;
        
    }

    .projectMediaContainer{

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 2vh;   

        box-shadow: none;

    }

        
    .projectButton{

        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;

        font-size: 2vh;
        padding: 1.5vw 1.5vh;

        background-color: rgb(0, 179, 255);

        border-left: 0.35vh solid rgb(0, 91, 130);
        border-bottom: 0.35vh solid rgb(0, 91, 130);
        border-top: 0.1vh solid rgb(0, 91, 130);
        border-right: 0.1vh solid rgb(0, 91, 130);

    }

    .projectButton:hover{

        color: white;

        background-color: rgb(0, 47, 255);

        border-left: 0.35vh solid rgb(0, 24, 130);
        border-bottom: 0.35vh solid rgb(0, 24, 130);
        border-top: 0.1vh solid rgb(0, 24, 130);
        border-right: 0.1vh solid rgb(0, 24, 130);
        
    }

    .cardCarouselButtonContainer{

        display: flex;
        flex-direction: row;
        flex-wrap: wrap; 

        gap: 8vw;

    }

    .cardCarouselButton{

        word-wrap: break-word;
        overflow-wrap: break-word;
        white-space: normal;

        font-size: 3vh;
        padding: 1.5vw 1.5vh;

        background-color: rgb(28, 255, 255);

        border-left: 0.4vh solid rgb(0, 118, 118);
        border-bottom: 0.4vh solid rgb(0, 118, 118);
        border-top: 0.1vh solid rgb(0, 118, 118);
        border-right: 0.1vh solid rgb(0, 118, 118);

        box-shadow: 0 0 1vh 0.5vh rgb(70, 247, 253);

        animation: glowing-shadow-subtitle-mobile 4s infinite;
        
    }

    .cardCarouselButton:hover{

        background-color: rgb(0, 81, 255);
        color: white;

        border-left: 0.4vh solid rgb(0, 30, 94);
        border-bottom: 0.4vh solid rgb(0, 30, 94);
        border-top: 0.1vh solid rgb(0, 30, 94);
        border-right: 0.1vh solid rgb(0, 30, 94);

        box-shadow: 0 0 1vh 0.5vh rgb(0, 81, 255);

    }

}
