.projectOuterContainer{

    background-color: rgb(176, 118, 253);

    border-left: 1vh solid black;
    border-bottom: 1vh solid black;
    border-top: 0.5vh solid black;
    border-right: 0.5vh solid black;

    border-radius: 2vw;
    padding: 3vh;

}

.projectInnerContainer {

    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 3vw;
    padding: 5vh;

}


.projectContainer{

    background-color: rgb(184, 225, 254);
    min-width: 30vw;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    gap: 1vh;

    border-left: 0.8vh solid black;
    border-bottom: 0.8vh solid black;
    border-top: 0.2vh solid black;
    border-right: 0.2vh solid black;

    animation: glowing-shadow-components 3s infinite;

}

.projectButton{

    font-size: clamp(1rem, 2.5vh, 1.75rem);
    padding: 1.5vh;

    background-color: rgb(0, 179, 255);

    border-left: 0.6vh solid black;
    border-bottom: 0.6vh solid black;
    border-top: 0vh solid black;
    border-right: 0vh solid black;

}

.projectButton:hover{

    border-left: 0.9vh solid black;
    border-bottom: 0.9vh solid black;
    border-top: 0.2vh solid black;
    border-right: 0.2vh solid black;

}

.projectMediaContainer{

    display: flex;
    flex-direction: row;
    overflow-x: auto;

    gap: 2vh;

}


.projectTitle{

    font-size: clamp(1.5rem, 4vh, 2.5rem);
    color: rgb(3, 0, 47);

    display: flex;
    flex-direction: column;
    align-items: center;

}

.projectText{

    font-size: clamp(1rem, 2.5vh, 1.5rem);
    color: rgb(3, 0, 47);
    
}