.skillsScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vw;
}

.skillsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 2vw; /* Responsive font size */
  gap: 3vw;        /* Responsive gap */
  color: white;
  flex-wrap: wrap; /* Allows wrapping on smaller screens */
}