
.skillExpandedCardFlag{

    position: absolute;
    inset: 0; 
    z-index: 1;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(103, 225, 255, 0.5);
    box-shadow: 0 0 2vh 1vh rgb(213, 141, 255);

}

.skillExpandedCard{

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 50vw;
    padding: 5rem;
    gap: 2rem;

    background-color: rgb(147, 194, 251);
    
    border-radius: 1vh;
    border-left: 0.8vh solid rgb(40, 55, 74);
    border-bottom: 0.8vh solid rgb(40, 55, 74);
    border-top: 0.3vh solid rgb(40, 55, 74);
    border-right: 0.3vh solid rgb(40, 55, 74);

    box-shadow: 0 0 2vh 1vh rgb(63, 173, 233);

}