.skillsScreen{

  display: flex;
  flex-direction: column;
  align-items: center;
    
}

.skillsContainer{

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

  display: flex;
  flex-direction: row;
  gap: 3vw;

  font-size: 2.5vh;

  color: white;

}


@media (max-width: 1024px){
    
  .skillsContainer {

    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;

    display: flex;
    flex-direction: column;
    gap: 2vh;   

    color: white;
      
    font-size: 2vh;

  }
}