.portfolioContentScreen {

  display: flex;
  flex-direction: column;

  margin-top: 6rem;

}


.navContainer{

  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;

  gap: 3rem;

}

.navButton{

  padding: 1rem 1.5rem;
  border-radius: 8px;

  color: rgb(209, 216, 255);
  background-color: inherit;
  border: none;

  animation: glowing-light-blue 3s infinite;
  
}

.navButton:hover {

  color: rgb(242, 214, 253);

  animation: glowing-light-pink 3s infinite;
    
}


.navButtonActive{

  padding: 1rem 1.5rem;
  border-radius: 8px;

  color: rgb(231, 153, 255);
  background-color: inherit;
  border: none;

  animation: glowing-dark-pink 3s infinite;
  
}


.swipingContentScreen {

  display: flex;
  flex-direction: column;

  gap: 3rem;

}


.subTitle{

  width: 100%;
  text-align: center;

  padding: 0.5rem;

  color: rgb(54, 0, 124);
  background-color: rgb(220, 183, 255);
  box-shadow: 0 0 10px 5px rgb(202, 117, 255);

}


.sectionContainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 6rem;
  gap: 4rem;

}






/* Mobile adjustments */
@media (max-device-width: 1024px) and (pointer: coarse) {
  
  .portfolioContentScreen {

    margin-top: 9rem;

  }


  .navContainer{

    gap: 5rem;

  }

  .navButton {

    padding: 2rem 2.5rem;

  }

  .navButtonActive {

    padding: 2rem 2.5rem;

  }


  .swipingContentScreen {

    display: flex;
    flex-direction: column;

    gap: 5rem;

  }


  .sectionContainer {

    margin-bottom: 8rem;
    gap: 6rem;

  }

}