.navContainer{

  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;

  gap: 2.5rem;

}

.navButton{

  padding: 1rem 1.5rem;
  border-radius: 4px;
  
}


.navButtonActive{

  padding: 1rem 1.5rem;
  border-radius: 4px;

  color: rgb(169, 182, 255);
  background-color: inherit;
  border: none;

  animation: glowing-light-blue 3s infinite;
  transition: transform 0.25s ease;
  
}


.swipingContentScreen {

  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 3rem;
  padding-top: 6rem;
  padding-bottom: 6rem;

}


.subTitle{

  width: 100%;
  text-align: center;

  padding: 0.5rem;

  color: rgb(54, 0, 124);
  background-color: rgb(220, 183, 255);
  box-shadow: 0 0 10px 5px rgb(202, 117, 255);

  mask-image: linear-gradient(to right, transparent 0%, rgb(220, 183, 255) 35%, rgb(220, 183, 255) 65%, transparent 100%);
  -webkit-mask-image: linear-gradient(to right, transparent 0%, rgb(220, 183, 255) 35%, rgb(220, 183, 255) 65%, transparent 100%);

}


.sectionContainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 4rem;

}






/* Mobile adjustments */
@media (max-device-width: 1024px) and (pointer: coarse) {

  .navContainer{

    gap: 2rem;

  }

  .navButton {

    padding: 1.2rem 1.7rem;

  }

  .navButtonActive {

    padding: 1.2rem 1.7rem;

  }


  .swipingContentScreen {

    padding-left: 0rem;
    padding-right: 0rem;

  }


  .subTitle{

    mask-image: linear-gradient(to right, transparent 0%, rgb(220, 183, 255) 25%, rgb(220, 183, 255) 75%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, rgb(220, 183, 255) 25%, rgb(220, 183, 255) 75%, transparent 100%);

  }
 

}

@media (max-width: 900px) and (pointer: fine){

  .subTitle{

    mask-image: linear-gradient(to right, transparent 0%, rgb(220, 183, 255) 25%, rgb(220, 183, 255) 75%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, rgb(220, 183, 255) 25%, rgb(220, 183, 255) 75%, transparent 100%);

  }

}

@media (max-device-width: 600px) and (pointer: coarse) {

  .navContainer{

    flex-direction: column;

  }

  .swipingContentScreen {

    gap: 5rem;

    padding-left: 0rem;
    padding-right: 0rem;

  }


  .subTitle{

    mask-image: linear-gradient(to right, transparent 0%, rgb(220, 183, 255) 15%, rgb(220, 183, 255) 85%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, rgb(220, 183, 255) 15%, rgb(220, 183, 255) 85%, transparent 100%);

  }
 
}