.portfolioContentScreen {

  display: flex;
  flex-direction: column;

  margin-top: 6rem;

}

.swipingContentScreen {

  display: flex;
  flex-direction: column;

  gap: 3rem;

}


.subTitle{

  width: 100%;
  text-align: center;

  padding: 0.5rem;

  color: rgb(54, 0, 124);
  background-color: rgb(220, 183, 255);
  box-shadow: 0 0 10px 5px rgb(202, 117, 255);

}

.sectionSwipeButtonContainer{

  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;

  gap: 3rem;

}

.sectionSwipeButton {

  padding: 1rem 1.5rem;
  border-radius: 7px;

  color: rgb(88, 0, 98);
  background-color: rgb(210, 151, 255);
  border-left: 3px solid rgb(99, 0, 156);
  border-bottom: 3px solid rgb(99, 0, 156);
  border-top: 1px solid rgb(99, 0, 156);
  border-right: 1px solid rgb(99, 0, 156);

  animation: glowing-light-purple 3s infinite;

}

.sectionSwipeButton:hover {

  color: white;
  background-color: rgb(113, 0, 170);
  border-left: 3px solid rgb(56, 0, 68);
  border-bottom: 3px solid rgb(56, 0, 68);
  border-top: 1px solid rgb(56, 0, 68);
  border-right: 1px solid rgb(56, 0, 68);

  animation: glowing-dark-purple 3s infinite;

}


.sectionContainer {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 6rem;
  gap: 4rem;

}






/* Mobile adjustments */
@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {
  
  .portfolioContentScreen {

    margin-top: 9rem;

  }

  .swipingContentScreen {

    display: flex;
    flex-direction: column;

    gap: 5rem;

  }


  .sectionSwipeButtonContainer{

    gap: 5rem;

  }

  .sectionSwipeButton {

    padding: 2rem 2.5rem;

  }

  .sectionContainer {

    margin-bottom: 8rem;
    gap: 6rem;

  }

}