.portfolioContentScreen {

  display: flex;
  flex-direction: column;

  margin-top: 6rem;

}

.swipingContentScreen {

  width: 100%;
  display: flex;
  flex-direction: column;

  gap: 1rem;

}


.subTitle{

  width: 100%;
  text-align: center;

  padding: 0.5rem;

  color: rgb(54, 0, 124);
  background-color: rgb(220, 183, 255);
  box-shadow: 0 0 1rem 0.25rem rgb(202, 117, 255);

}

.sectionSwipeButtonContainer{

  display: flex;
  flex-direction: row;
  align-self: center;
  flex-wrap: wrap;

  gap: 3rem;

}

.sectionSwipeButton {

  padding: 1rem 1.5rem;
  border-radius: 0.3rem;

  color: rgb(88, 0, 98);
  background-color: rgb(210, 151, 255);
  border-left: 0.25rem solid rgb(99, 0, 156);
  border-bottom: 0.25rem solid rgb(99, 0, 156);
  border-top: 0.1rem solid rgb(99, 0, 156);
  border-right: 0.1rem solid rgb(99, 0, 156);

  animation: glowing-light-purple 3s infinite;

}

.sectionSwipeButton:hover {

  color: white;
  background-color: rgb(113, 0, 170);
  border-left: 0.25rem solid rgb(56, 0, 68);
  border-bottom: 0.25rem solid rgb(56, 0, 68);
  border-top: 0.1rem solid rgb(56, 0, 68);
  border-right: 0.1rem solid rgb(56, 0, 68);

  animation: glowing-dark-purple 3s infinite;

}


.sectionContainer {

  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 2rem;
  margin-bottom: 6rem;
  gap: 4rem;

}






/* Mobile adjustments */
@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {
  

}