:root {

  --default-font-size: 1rem;

}

body{

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5rem;
  padding: 4rem;
  margin: 5rem;

  background: linear-gradient(rgb(18, 0, 107), rgb(96, 0, 118));

  animation: glowing-body 3s infinite;
  
}


* {

  box-sizing: border-box;

  font-family: monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

}

button{

  font-weight: bold;

}

a, a:link, a:visited, a:hover {

  text-decoration: none;
  font-weight: bold;

}


h1, h2, h3, h4, p {

  margin: 0;         

}


h1 {

  font-size: calc(var(--default-font-size)*4);

}

h2 {

  font-size: calc(var(--default-font-size)*2);

}


h3 {

  font-size: calc(var(--default-font-size)*1.5);

}


h4{

  font-size: calc(var(--default-font-size)*1.3);

}

p, button, a {

  font-size: var(--default-font-size);

}





/* Custom tags: */


.heading{

  display: flex;
  flex-direction: column;

  gap: 1em;
}


.title{

  text-align: center;

  color: rgb(212, 0, 255);
  text-shadow: 
    0.3rem -0.25rem 0rem rgb(0, 179, 255),
    0rem 0.2rem 0rem rgb(255, 0, 234);

}


.horizontalLine {

  height: 0.2vh;
  width: 100%;

  background-color: #ff00ff;
  box-shadow: 0px -2px 0px rgb(0, 179, 255);

}




/* Animations: */


@keyframes glowing-body {

  0% {
    box-shadow: 
      0 0 1vh 1vh rgb(70, 143, 253),
      0 0 2vh 1.5vh rgb(117, 79, 252),
      0 0 3.5vh 2vh rgb(153, 80, 254);
  }
  50% {
    box-shadow: 
      0 0 1vh 1vh rgba(70, 143, 253, 0.383),
      0 0 2vh 1.5vh rgba(116, 79, 252, 0.335),
      0 0 3.5vh 2vh rgba(152, 80, 254, 0.373);
  }
  100% {
    box-shadow:
      0 0 1vh 1vh rgb(70, 143, 253),
      0 0 2vh 1.5vh rgb(117, 79, 252),
      0 0 3.5vh 2vh rgb(153, 80, 254);
  }

}



@keyframes glowing-light-pink {

  0% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(248, 194, 255),
      0 0 1rem 0.2rem rgb(204, 138, 255);
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(248, 194, 255, 0.5),
      0 0 1rem 0.2rem rgb(204, 138, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.1rem rgb(248, 194, 255),
      0 0 1rem 0.2rem rgb(204, 138, 255);
  }

}


@keyframes glowing-dark-pink {

  0% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(249, 88, 255),
      0 0 1rem 0.2rem rgb(200, 106, 255);
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(249, 88, 255, 0.5),
      0 0 1rem 0.2rem rgb(200, 106, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.1rem rgb(249, 88, 255),
      0 0 1rem 0.2rem rgb(200, 106, 255);
  }

}




@keyframes glowing-light-purple {

  0% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(227, 169, 254),
      0 0 1rem 0.2rem rgb(199, 156, 255);
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(227, 169, 254, 0.5),
      0 0 1rem 0.2rem rgb(199, 156, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.1rem rgb(227, 169, 254),
      0 0 1rem 0.2rem rgb(199, 156, 255);
  }

}


@keyframes glowing-dark-purple {

  0% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(191, 88, 255),
      0 0 1rem 0.2rem rgb(148, 71, 255);
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(191, 88, 255, 0.5),
      0 0 1rem 0.2rem rgb(148, 71, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.1rem rgb(191, 88, 255),
      0 0 1rem 0.2rem rgb(148, 71, 255);
  }

}



@keyframes glowing-light-turquoise {

  0% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(185, 229, 255),
      0 0 1rem 0.2rem rgb(174, 195, 255);
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(185, 229, 255, 0.5),
      0 0 1rem 0.2rem rgb(174, 195, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.1rem rgb(185, 229, 255),
      0 0 1rem 0.2rem rgb(174, 195, 255);
  }

}


@keyframes glowing-dark-turquoise {

  0% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(59, 172, 192),
      0 0 1rem 0.2rem rgb(37, 121, 177);
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(59, 172, 192, 0.5),
      0 0 1rem 0.2rem rgb(37, 121, 177, 0.5);
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.1rem rgb(59, 172, 192),
      0 0 1rem 0.2rem rgb(37, 121, 177);
  }

}



@keyframes glowing-light-blue {

  0% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(185, 205, 255),
      0 0 1rem 0.2rem rgb(174, 174, 255);
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(185, 205, 255, 0.5),
      0 0 1rem 0.2rem rgb(174, 174, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.1rem rgb(185, 205, 255),
      0 0 1rem 0.2rem rgb(174, 174, 255);
  }

}


@keyframes glowing-dark-blue {

  0% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(116, 139, 255),
      0 0 1rem 0.2rem rgb(130, 95, 255);
  }
  50% {
    box-shadow: 
      0 0 0.5rem 0.1rem rgb(116, 139, 255, 0.5),
      0 0 1rem 0.2rem rgb(130, 95, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 0.5rem 0.1rem rgb(116, 139, 255),
      0 0 1rem 0.2rem rgb(130, 95, 255);
  }

}




@keyframes glowing-body-mobile {

    0% {
      box-shadow: 
        0 0 0.1vh 0.1vh rgb(70, 143, 253),
        0 0 0.5vh 0.3vh rgb(117, 79, 252),
        0 0 1vh 0.6vh rgb(153, 80, 254);
    }
    50% {
      box-shadow: 
        0 0 0.1vh 0.1vh rgba(70, 143, 253, 0.383),
        0 0 0.5vh 0.3vh rgba(116, 79, 252, 0.335),
        0 0 1vh 0.6vh rgba(152, 80, 254, 0.373);
    }
    100% {
      box-shadow:
        0 0 0.1vh 0.1vh rgb(70, 143, 253),
        0 0 0.5vh 0.3vh rgb(117, 79, 252),
        0 0 1vh 0.6vh rgb(153, 80, 254);
    }

}



@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {

  body{

    background: linear-gradient(rgb(22, 0, 133), rgb(96, 0, 118));
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    padding-top: 5vh;

    font-family: monospace;

    margin: 3vh 3vw;

    animation: glowing-body-mobile 3s infinite;

  }

  .title{

    text-align: center;

    color: rgb(212, 0, 255);
    text-shadow: 
      0.4vw -0.25vh 0px rgb(0, 179, 255),
      0vw 0.2vh 0px rgb(255, 0, 234);

  }
  
}
