@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root {

  --default-font-size: 1rem;

  --default-font-size-mobile: 1.125rem;

}

html {

  font-size: 100%;

}

body{

  min-height: 100vh;
  min-width: 25rem;
  display: flex;
  flex-direction: column;

  gap: 5rem;
  padding: 4rem;
  margin: 5rem;

  background: linear-gradient(rgb(18, 0, 107), rgb(96, 0, 118));

  animation: glowing-body 3s infinite;
  
}


* {

  box-sizing: border-box;

  font-family: monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

}

button{

  font-weight: bold;

}

a, a:link, a:visited, a:hover {

  text-decoration: none;
  font-weight: bold;

}


h1, h2, h3, h4 {

  font-family: 'Orbitron', monospace;

}


h1, h2, h3, h4, p {

  margin: 0rem;

}


h1{

  font-size: calc(var(--default-font-size)*4);

}

h2{

  font-size: calc(var(--default-font-size)*2);

}


h3 {

  font-size: calc(var(--default-font-size)*1.5);

}


h4{

  font-size: calc(var(--default-font-size)*1.3);

}

p, button, a {

  font-size: var(--default-font-size);

}





/* Custom tags: */

.heading{

  display: flex;
  flex-direction: column;

  gap: 1rem;

}


.title{

  max-width: 100%;
  text-align: center;

  color: rgb(212, 0, 255);
  text-shadow: 
    3px -3px 0px rgb(0, 179, 255);

}


.horizontalLine {

  height: 3px;
  width: 100%;

  background-color: #ff00ff;
  box-shadow: 0px -3px 0px rgb(0, 179, 255);

}



::-webkit-scrollbar {

  width: 10px;

}
 
::-webkit-scrollbar-track {

  background: #0a0034;  

}

::-webkit-scrollbar-thumb {

  border-radius: 5px;

  border: 2px solid #0a0034;
  background: linear-gradient(rgb(196, 215, 255), rgb(91, 0, 181));
  
}

::-webkit-scrollbar-thumb:hover {

  background: linear-gradient(rgb(196, 241, 255), rgb(40, 44, 255));

}




/* Animations: */

@keyframes glowing-body {

  0% {
    box-shadow: 
      0 0 5px 4px rgb(70, 143, 253),
      0 0 10px 8px rgb(117, 79, 252),
      0 0 15px 12px rgb(153, 80, 254);
  }
  50% {
    box-shadow: 
      0 0 5px 4px rgb(70, 143, 253, 0.5),
      0 0 10px 8px rgb(117, 79, 252, 0.5),
      0 0 15px 12px rgb(153, 80, 254, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 4px rgb(70, 143, 253),
      0 0 10px 8px rgb(117, 79, 252),
      0 0 15px 12px rgb(153, 80, 254);
  }

}



@keyframes glowing-light-pink {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(248, 194, 255),
      0 0 10px 4px rgb(204, 138, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(248, 194, 255, 0.5),
      0 0 10px 4px rgb(204, 138, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(248, 194, 255),
      0 0 10px 4px rgb(204, 138, 255);
  }

}


@keyframes glowing-dark-pink {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(249, 88, 255),
      0 0 10px 4px rgb(200, 106, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(249, 88, 255, 0.5),
      0 0 10px 4px rgb(200, 106, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(249, 88, 255),
      0 0 10px 4px rgb(200, 106, 255);
  }

}




@keyframes glowing-light-purple {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(227, 169, 254),
      0 0 10px 4px rgb(199, 156, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(227, 169, 254, 0.5),
      0 0 10px 4px rgb(199, 156, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(227, 169, 254),
      0 0 10px 4px rgb(199, 156, 255);
  }

}


@keyframes glowing-dark-purple {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(191, 88, 255),
      0 0 10px 4px rgb(148, 71, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(191, 88, 255, 0.5),
      0 0 10px 4px rgb(148, 71, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(191, 88, 255),
      0 0 10px 4px rgb(148, 71, 255);
  }

}



@keyframes glowing-light-turquoise {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(185, 229, 255),
      0 0 10px 4px rgb(174, 195, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(185, 229, 255, 0.5),
      0 0 10px 4px rgb(174, 195, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(185, 229, 255),
      0 0 10px 4px rgb(174, 195, 255);
  }

}


@keyframes glowing-dark-turquoise {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(59, 172, 192),
      0 0 10px 4px rgb(37, 121, 177);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(59, 172, 192, 0.5),
      0 0 10px 4px rgb(37, 121, 177, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(59, 172, 192),
      0 0 10px 4px rgb(37, 121, 177);
  }

}



@keyframes glowing-light-blue {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(185, 205, 255),
      0 0 10px 4px rgb(174, 174, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(185, 205, 255, 0.5),
      0 0 10px 4px rgb(174, 174, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(185, 205, 255),
      0 0 10px 4px rgb(174, 174, 255);
  }

}


@keyframes glowing-dark-blue {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(116, 139, 255),
      0 0 10px 4px rgb(130, 95, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(116, 139, 255, 0.5),
      0 0 10px 4px rgb(130, 95, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(116, 139, 255),
      0 0 10px 4px rgb(130, 95, 255);
  }

}




@media (max-device-width: 1024px)  and (pointer: coarse) {

  h1{

    font-size: calc(var(--default-font-size-mobile)*4);

  }

  h2 {

    font-size: calc(var(--default-font-size-mobile)*2);

  }


  h3 {

    font-size: calc(var(--default-font-size-mobile)*1.5);

  }


  h4{

    font-size: calc(var(--default-font-size-mobile)*1.3);

  }

  p, button, a {

    font-size: var(--default-font-size-mobile);

  }

  .heading{

    gap: 2rem;

  }
  
}


@media (max-width: 600px) and (pointer: coarse){

  body{

    padding: 4rem 2rem;
    margin: 0rem;

    animation: none;
    
  }


  h1{

    font-size: calc(var(--default-font-size-mobile)*4);

  }

  h2 {

    font-size: calc(var(--default-font-size-mobile)*2);

  }

  h3 {

    font-size: calc(var(--default-font-size-mobile)*1.5);

  }


  h4{

    font-size: calc(var(--default-font-size-mobile)*1.3);

  }

  p, button, a {

    font-size: var(--default-font-size-mobile);

  }

  .heading{

    gap: 2rem;

  }

}


@media (max-width: 600px) and (pointer: fine){

  body{

    padding: 4rem 2rem;
    margin: 0;

    animation: none;
    
  }

}