:root {

  --default-font-size: 1rem;

}

html {

  font-size: 100%;

}

body{

  min-height: 100vh;
  display: flex;
  flex-direction: column;

  gap: 5rem;
  padding: 4rem;
  margin: 5rem;

  background: linear-gradient(rgb(18, 0, 107), rgb(96, 0, 118));

  animation: glowing-body 3s infinite;
  
}


* {

  box-sizing: border-box;

  font-family: monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

}

button{

  font-weight: bold;

}

a, a:link, a:visited, a:hover {

  text-decoration: none;
  font-weight: bold;

}


h1, h2, h3, h4, p {

  margin: 0rem;         

}


h1 {

  font-size: calc(var(--default-font-size)*4);

}

h2 {

  font-size: calc(var(--default-font-size)*2);

}


h3 {

  font-size: calc(var(--default-font-size)*1.5);

}


h4{

  font-size: calc(var(--default-font-size)*1.3);

}

p, button, a {

  font-size: var(--default-font-size);

}





/* Custom tags: */


.heading{

  display: flex;
  flex-direction: column;

  gap: 1rem;

}


.title{

  text-align: center;

  color: rgb(212, 0, 255);
  text-shadow: 
    3px -3px 0px rgb(0, 179, 255),
    0px 0px 0px rgb(255, 0, 234);

}


.horizontalLine {

  height: 3px;
  width: 100%;

  background-color: #ff00ff;
  box-shadow: 0px -3px 0px rgb(0, 179, 255);

}




/* Animations: */

@keyframes glowing-body {

  0% {
    box-shadow: 
      0 0 5px 4px rgb(70, 143, 253),
      0 0 10px 8px rgb(117, 79, 252),
      0 0 15px 12px rgb(153, 80, 254);
  }
  50% {
    box-shadow: 
      0 0 5px 4px rgb(70, 143, 253, 0.5),
      0 0 10px 8px rgb(117, 79, 252, 0.5),
      0 0 15px 12px rgb(153, 80, 254, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 4px rgb(70, 143, 253),
      0 0 10px 8px rgb(117, 79, 252),
      0 0 15px 12px rgb(153, 80, 254);
  }

}



@keyframes glowing-light-pink {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(248, 194, 255),
      0 0 10px 4px rgb(204, 138, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(248, 194, 255, 0.5),
      0 0 10px 4px rgb(204, 138, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(248, 194, 255),
      0 0 10px 4px rgb(204, 138, 255);
  }

}


@keyframes glowing-dark-pink {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(249, 88, 255),
      0 0 10px 4px rgb(200, 106, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(249, 88, 255, 0.5),
      0 0 10px 4px rgb(200, 106, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(249, 88, 255),
      0 0 10px 4px rgb(200, 106, 255);
  }

}




@keyframes glowing-light-purple {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(227, 169, 254),
      0 0 10px 4px rgb(199, 156, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(227, 169, 254, 0.5),
      0 0 10px 4px rgb(199, 156, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(227, 169, 254),
      0 0 10px 4px rgb(199, 156, 255);
  }

}


@keyframes glowing-dark-purple {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(191, 88, 255),
      0 0 10px 4px rgb(148, 71, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(191, 88, 255, 0.5),
      0 0 10px 4px rgb(148, 71, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(191, 88, 255),
      0 0 10px 4px rgb(148, 71, 255);
  }

}



@keyframes glowing-light-turquoise {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(185, 229, 255),
      0 0 10px 4px rgb(174, 195, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(185, 229, 255, 0.5),
      0 0 10px 4px rgb(174, 195, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(185, 229, 255),
      0 0 10px 4px rgb(174, 195, 255);
  }

}


@keyframes glowing-dark-turquoise {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(59, 172, 192),
      0 0 10px 4px rgb(37, 121, 177);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(59, 172, 192, 0.5),
      0 0 10px 4px rgb(37, 121, 177, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(59, 172, 192),
      0 0 10px 4px rgb(37, 121, 177);
  }

}



@keyframes glowing-light-blue {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(185, 205, 255),
      0 0 10px 4px rgb(174, 174, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(185, 205, 255, 0.5),
      0 0 10px 4px rgb(174, 174, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(185, 205, 255),
      0 0 10px 4px rgb(174, 174, 255);
  }

}


@keyframes glowing-dark-blue {

  0% {
    box-shadow: 
      0 0 5px 2px rgb(116, 139, 255),
      0 0 10px 4px rgb(130, 95, 255);
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgb(116, 139, 255, 0.5),
      0 0 10px 4px rgb(130, 95, 255, 0.5);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgb(116, 139, 255),
      0 0 10px 4px rgb(130, 95, 255);
  }

}



/*
@keyframes glowing-body-mobile {

    0% {
      box-shadow: 
        0 0 0.1vh 0.1vh rgb(70, 143, 253),
        0 0 0.5vh 0.3vh rgb(117, 79, 252),
        0 0 1vh 0.6vh rgb(153, 80, 254);
    }
    50% {
      box-shadow: 
        0 0 0.1vh 0.1vh rgba(70, 143, 253, 0.383),
        0 0 0.5vh 0.3vh rgba(116, 79, 252, 0.335),
        0 0 1vh 0.6vh rgba(152, 80, 254, 0.373);
    }
    100% {
      box-shadow:
        0 0 0.1vh 0.1vh rgb(70, 143, 253),
        0 0 0.5vh 0.3vh rgb(117, 79, 252),
        0 0 1vh 0.6vh rgb(153, 80, 254);
    }

}
*/



@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {



  
}
