body{

  background: linear-gradient(rgb(22, 0, 133), rgb(96, 0, 118));
  padding-left: 5vw;
  padding-right: 5vw;
  padding-bottom: 10vh;
  padding-top: 10vh;
  margin: 2vw;

  animation: glowing-shadow-body 3s infinite;

  font-family: monospace;

}

button{

  font-family: monospace;
  color: rgb(110, 0, 194);
  font-weight: bold;

}

button:hover{

  color: rgb(36, 0, 64);

}

a {

  text-decoration: none;
  color: rgb(110, 0, 194);
  font-weight: bold;

}

a:visited {
  color: rgb(110, 0, 194);
  font-weight: bold;

}

a:hover{

  color: rgb(36, 0, 64);

}

.title{

  font-size: clamp(3rem, 9vh, 5rem);
  color: rgb(212, 0, 255);
  
  text-shadow: 
    0.3vw -0.25vh 0px rgb(0, 179, 255),
    0vw 0.2vh 0px rgb(255, 0, 234);


}

.subTitle{

  font-size: clamp(1.8rem, 5vh, 3rem);
  display: flex;
  flex-direction: column;
  align-items: center;

  color: rgb(0, 24, 68);
  background-color: rgb(220, 183, 255);
  width: 100%;

  animation: glowing-shadow-subtitle 3s infinite;

  padding-top: 1vh;
  padding-bottom: 1vh;

}

.extraSpace {

  height: 10vh;

}

@keyframes glowing-shadow-body {

0% {
  box-shadow: 
    0 0 1vh 1vh rgb(70, 143, 253),
    0 0 2vh 1.5vh rgb(117, 79, 252),
    0 0 3.5vh 2vh rgb(153, 80, 254);
}
50% {
  box-shadow: 
    0 0 1vh 1vh rgba(70, 143, 253, 0.383),
    0 0 2vh 1.5vh rgba(116, 79, 252, 0.335),
    0 0 3.5vh 2vh rgba(152, 80, 254, 0.373);
}
100% {
  box-shadow:
    0 0 1vh 1vh rgb(70, 143, 253),
    0 0 2vh 1.5vh rgb(117, 79, 252),
    0 0 3.5vh 2vh rgb(153, 80, 254);
}

}


@keyframes glowing-shadow-subtitle {

0% {
  box-shadow: 
    0 0 0.5vh 0.2vh rgb(70, 143, 253),
    0 0 1vh 0.4vh rgb(117, 79, 252),
    0 0 1.5vh 0.6vh rgb(153, 80, 254);
}
50% {
  box-shadow: 
    0 0 0.5vh 0.2vh rgba(70, 143, 253, 0.383),
    0 0 1vh 0.4vh rgba(116, 79, 252, 0.335),
    0 0 1.5vh 0.6vh rgba(152, 80, 254, 0.373);
}
100% {
  box-shadow:
    0 0 0.5vh 0.2vh rgb(70, 143, 253),
    0 0 1vh 0.4vh rgb(117, 79, 252),
    0 0 1.5vh 0.6vh rgb(153, 80, 254);
}

}

@keyframes glowing-shadow-components {

0% {
  box-shadow: 
    0 0 1vh 0.5vh rgb(70, 143, 253),
    0 0 1.5vh 1vh rgb(117, 79, 252),
    0 0 2vh 1.5vh rgb(153, 80, 254);
}
50% {
  box-shadow: 
    0 0 1vh 0.5vh rgba(70, 143, 253, 0.383),
    0 0 1.5vh 1vh rgba(116, 79, 252, 0.335),
    0 0 2vh 1.5vh rgba(152, 80, 254, 0.373);
}
100% {
  box-shadow:
     0 0 1vh 0.5vh rgb(70, 143, 253),
    0 0 1.5vh 1vh rgb(117, 79, 252),
    0 0 2vh 1.5vh rgb(153, 80, 254);
}

}

@keyframes glowing-shadow-body-mobile {

    0% {
      box-shadow: 
        0 0 0.1vh 0.1vh rgb(70, 143, 253),
        0 0 0.5vh 0.3vh rgb(117, 79, 252),
        0 0 1vh 0.6vh rgb(153, 80, 254);
    }
    50% {
      box-shadow: 
        0 0 0.1vh 0.1vh rgba(70, 143, 253, 0.383),
        0 0 0.5vh 0.3vh rgba(116, 79, 252, 0.335),
        0 0 1vh 0.6vh rgba(152, 80, 254, 0.373);
    }
    100% {
      box-shadow:
        0 0 0.1vh 0.1vh rgb(70, 143, 253),
        0 0 0.5vh 0.3vh rgb(117, 79, 252),
        0 0 1vh 0.6vh rgb(153, 80, 254);
    }

}

@keyframes glowing-shadow-subtitle-mobile {

  0% {
    box-shadow: 
      0 0 0.3vh 0.2vh rgb(70, 143, 253),
      0 0 0.7vh 0.4vh rgb(117, 79, 252),
      0 0 1.2vh 0.6vh rgb(153, 80, 254);
  }
  50% {
    box-shadow: 
      0 0 0.3vh 0.2vh rgba(70, 143, 253, 0.383),
      0 0 0.7vh 0.4vh rgba(116, 79, 252, 0.335),
      0 0 1.2vh 0.6vh rgba(152, 80, 254, 0.373);
  }
  100% {
    box-shadow:
      0 0 0.3vh 0.2vh rgb(70, 143, 253),
      0 0 0.7vh 0.4vh rgb(117, 79, 252),
      0 0 1.2vh 0.6vh rgb(153, 80, 254);
  }

}

@keyframes glowing-shadow-components-mobile {

  0% {
    box-shadow: 
      0 0 0.3vh 0.3vh rgb(70, 143, 253),
      0 0 0.7vh 0.7vh rgb(117, 79, 252),
      0 0 1.2vh 1.2vh rgb(153, 80, 254);
  }
  50% {
    box-shadow: 
      0 0 0.3vh 0.3vh rgba(70, 143, 253, 0.383),
      0 0 0.7vh 0.7vh rgba(116, 79, 252, 0.335),
      0 0 1.2vh 1.2vh rgba(152, 80, 254, 0.373);
  }
  100% {
    box-shadow:
      0 0 0.3vh 0.3vh rgb(70, 143, 253),
      0 0 0.7vh 0.7vh rgb(117, 79, 252),
      0 0 1.2vh 1.2vh rgb(153, 80, 254);
  }

}




/* Mobile adjustments */
@media (max-width: 1000px) {

  body{

    background: linear-gradient(rgb(22, 0, 133), rgb(96, 0, 118));
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 10vh;
    padding-top: 10vh;
    margin: 3vw;

    animation: glowing-shadow-body-mobile 3s infinite;

    font-family: monospace;

  }

  .title{

    font-size: clamp(2.5rem, 6vh, 4.5rem);

    color: rgb(212, 0, 255);
    
    text-shadow: 
        0.4vw -0.25vh 0px rgb(0, 179, 255),
        0vw 0.2vh 0px rgb(255, 0, 234);


  }

  .subTitle{

    font-size: clamp(1.8rem, 3.5vh, 3rem);
    display: flex;
    flex-direction: column;
    align-items: center;

    color: rgb(0, 24, 68);
    background-color: rgb(220, 183, 255);
    width: 100%;

    animation: glowing-shadow-subtitle-mobile 3s infinite;

    padding-top: 1vh;
    padding-bottom: 1vh;

  }

  .extraSpace {

    height: 3vh;

  }




}