:root {

  --default-font-size: 1rem;

}

body{

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 5rem;
  padding: 4rem;
  margin: 5rem;

  background: linear-gradient(rgb(18, 0, 107), rgb(96, 0, 118));

  animation: glowing-shadow-body 3s infinite;
  
}


* {

  box-sizing: border-box;

  font-family: monospace;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;

}

button{

  font-weight: bold;

}

a, a:link, a:visited, a:hover {

  text-decoration: none;
  font-weight: bold;

}



h1 {

  font-size: calc(var(--default-font-size)*4);

}

h2 {

  font-size: calc(var(--default-font-size)*2);

}


h3 {

  font-size: calc(var(--default-font-size)*1.5);

}


h4 {

  font-size: calc(var(--default-font-size)*1.3);

}

p, button, a {

  font-size: var(--default-font-size);

}





/* Custom tags: */


.heading{

  display: flex;
  flex-direction: column;

  gap: 1em;
}


.title{

  text-align: center;

  color: rgb(212, 0, 255);
  text-shadow: 
    0.3rem -0.25rem 0rem rgb(0, 179, 255),
    0rem 0.2rem 0rem rgb(255, 0, 234);

}


.horizontalLine {

  height: 0.2vh;
  width: 100%;

  background-color: #ff00ff;
  box-shadow: 0px -2px 0px rgb(0, 179, 255);

}




/* Animations: */


@keyframes glowing-shadow-body {

0% {
  box-shadow: 
    0 0 1vh 1vh rgb(70, 143, 253),
    0 0 2vh 1.5vh rgb(117, 79, 252),
    0 0 3.5vh 2vh rgb(153, 80, 254);
}
50% {
  box-shadow: 
    0 0 1vh 1vh rgba(70, 143, 253, 0.383),
    0 0 2vh 1.5vh rgba(116, 79, 252, 0.335),
    0 0 3.5vh 2vh rgba(152, 80, 254, 0.373);
}
100% {
  box-shadow:
    0 0 1vh 1vh rgb(70, 143, 253),
    0 0 2vh 1.5vh rgb(117, 79, 252),
    0 0 3.5vh 2vh rgb(153, 80, 254);
}

}


@keyframes glowing-shadow-subtitle {

0% {
  box-shadow: 
    0 0 0.5vh 0.2vh rgb(70, 143, 253),
    0 0 1vh 0.4vh rgb(117, 79, 252),
    0 0 1.5vh 0.6vh rgb(153, 80, 254);
}
50% {
  box-shadow: 
    0 0 0.5vh 0.2vh rgba(70, 143, 253, 0.383),
    0 0 1vh 0.4vh rgba(116, 79, 252, 0.335),
    0 0 1.5vh 0.6vh rgba(152, 80, 254, 0.373);
}
100% {
  box-shadow:
    0 0 0.5vh 0.2vh rgb(70, 143, 253),
    0 0 1vh 0.4vh rgb(117, 79, 252),
    0 0 1.5vh 0.6vh rgb(153, 80, 254);
}

}

@keyframes glowing-shadow-components {

0% {
  box-shadow: 
    0 0 1vh 0.5vh rgb(70, 143, 253),
    0 0 1.5vh 1vh rgb(117, 79, 252),
    0 0 2vh 1.5vh rgb(153, 80, 254);
}
50% {
  box-shadow: 
    0 0 1vh 0.5vh rgba(70, 143, 253, 0.383),
    0 0 1.5vh 1vh rgba(116, 79, 252, 0.335),
    0 0 2vh 1.5vh rgba(152, 80, 254, 0.373);
}
100% {
  box-shadow:
     0 0 1vh 0.5vh rgb(70, 143, 253),
    0 0 1.5vh 1vh rgb(117, 79, 252),
    0 0 2vh 1.5vh rgb(153, 80, 254);
}

}

@keyframes glowing-shadow-body-mobile {

    0% {
      box-shadow: 
        0 0 0.1vh 0.1vh rgb(70, 143, 253),
        0 0 0.5vh 0.3vh rgb(117, 79, 252),
        0 0 1vh 0.6vh rgb(153, 80, 254);
    }
    50% {
      box-shadow: 
        0 0 0.1vh 0.1vh rgba(70, 143, 253, 0.383),
        0 0 0.5vh 0.3vh rgba(116, 79, 252, 0.335),
        0 0 1vh 0.6vh rgba(152, 80, 254, 0.373);
    }
    100% {
      box-shadow:
        0 0 0.1vh 0.1vh rgb(70, 143, 253),
        0 0 0.5vh 0.3vh rgb(117, 79, 252),
        0 0 1vh 0.6vh rgb(153, 80, 254);
    }

}

@keyframes glowing-shadow-subtitle-mobile {

  0% {
    box-shadow: 
      0 0 0.3vh 0.2vh rgb(70, 143, 253),
      0 0 0.7vh 0.4vh rgb(117, 79, 252),
      0 0 1.2vh 0.6vh rgb(153, 80, 254);
  }
  50% {
    box-shadow: 
      0 0 0.3vh 0.2vh rgba(70, 143, 253, 0.383),
      0 0 0.7vh 0.4vh rgba(116, 79, 252, 0.335),
      0 0 1.2vh 0.6vh rgba(152, 80, 254, 0.373);
  }
  100% {
    box-shadow:
      0 0 0.3vh 0.2vh rgb(70, 143, 253),
      0 0 0.7vh 0.4vh rgb(117, 79, 252),
      0 0 1.2vh 0.6vh rgb(153, 80, 254);
  }

}

@keyframes glowing-shadow-components-mobile {

  0% {
    box-shadow: 
      0 0 0.3vh 0.3vh rgb(70, 143, 253),
      0 0 0.7vh 0.7vh rgb(117, 79, 252),
      0 0 1.2vh 1.2vh rgb(153, 80, 254);
  }
  50% {
    box-shadow: 
      0 0 0.3vh 0.3vh rgba(70, 143, 253, 0.383),
      0 0 0.7vh 0.7vh rgba(116, 79, 252, 0.335),
      0 0 1.2vh 1.2vh rgba(152, 80, 254, 0.373);
  }
  100% {
    box-shadow:
      0 0 0.3vh 0.3vh rgb(70, 143, 253),
      0 0 0.7vh 0.7vh rgb(117, 79, 252),
      0 0 1.2vh 1.2vh rgb(153, 80, 254);
  }

}


@keyframes pulse-glow {
  0% {
    filter: 
      drop-shadow(0 0 0.3125rem rgba(21, 0, 255, 0.8)) 
      drop-shadow(0 0 0.625rem rgba(21, 0, 255, 0.6))  
      drop-shadow(0 0 1.25rem rgba(21, 0, 255, 0.4));   
  }
  100% {
    filter: 
      drop-shadow(0 0 0.3125rem rgba(255, 0, 247, 0.8))
      drop-shadow(0 0 0.625rem rgba(255, 0, 247, 0.6))
      drop-shadow(0 0 1.25rem rgba(255, 0, 247, 0.4));
  }
}





@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {

  body{

    background: linear-gradient(rgb(22, 0, 133), rgb(96, 0, 118));
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 5vh;
    padding-top: 5vh;

    font-family: monospace;

    margin: 3vh 3vw;

    animation: glowing-shadow-body-mobile 3s infinite;

  }

  .title{

    text-align: center;

    color: rgb(212, 0, 255);
    text-shadow: 
      0.4vw -0.25vh 0px rgb(0, 179, 255),
      0vw 0.2vh 0px rgb(255, 0, 234);

  }
  
}
