.ArcadeMediaContainer{

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 1;     
    background-color: rgba(115, 0, 255, 0.541);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.ArcadeMediaContentBox{

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 70vw;

    padding: 4rem;
    gap: 2rem;

    background-color: rgb(147, 194, 251);
    
    border-radius: 1vh;
    border-left: 0.8vh solid rgb(40, 55, 74);
    border-bottom: 0.8vh solid rgb(40, 55, 74);
    border-top: 0.3vh solid rgb(40, 55, 74);
    border-right: 0.3vh solid rgb(40, 55, 74);

    box-shadow: 0 0 2vh 1vh rgb(63, 173, 233);

}


.ArcadeVideoOuterContainer {
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow-x: auto;

    width: 90%;
    gap: 3rem;
    padding: 3rem;

}

.ArcadeVideoContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 5rem;
    gap: 2rem;

    border-radius: 2rem;

    background-color: rgb(221, 176, 255);

    border-left: 0.8vh solid rgb(100, 79, 117);
    border-bottom: 0.8vh solid rgb(100, 79, 117);
    border-top: 0.3vh solid rgb(100, 79, 117);
    border-right: 0.3vh solid rgb(100, 79, 117);

}

.viewVideoButton{

    padding: 1rem 1.5rem;
    font-size: 2rem;

    background-color: rgb(216, 100, 255);

    border-left: 0.5vh solid rgb(105, 50, 121);
    border-bottom: 0.5vh solid rgb(105, 50, 121);
    border-top: 0.1vh solid rgb(105, 50, 121);
    border-right: 0.1vh solid rgb(105, 50, 121);

}

.viewVideoButton:hover{

    background-color: rgb(148, 54, 255);
    color: white;

    border-left: 0.7vh solid rgb(78, 29, 134);
    border-bottom: 0.7vh solid rgb(78, 29, 134);
    border-right: 0.2vh solid rgb(78, 29, 134);
    border-top: 0.2vh solid rgb(78, 29, 134);

}

.ArcadeImage{

    width: 10vw;

    border-left: 0.5vh solid rgb(110, 0, 200); 
    border-bottom: 0.5vh solid rgb(200, 0, 187); 
    border-right: 0.5vh solid rgb(200, 0, 187); 
    border-top: 0.5vh solid rgb(110, 0, 200);   

    animation: pulse-glow 3s infinite alternate;

}

.closeButton{

    padding: 1rem 1.5rem;
    font-size: 3rem;

    background-color: rgb(194, 109, 255);

    border-left: 0.7vh solid rgb(102, 55, 136);
    border-bottom: 0.7vh solid rgb(102, 55, 136);
    border-top: 0.1vh solid rgb(102, 55, 136);
    border-right: 0.1vh solid rgb(102, 55, 136);

}

.closeButton:hover{

    background-color: rgb(79, 0, 121);
    color: white;

    border-left: 0.7vh solid rgb(21, 0, 32);
    border-bottom: 0.7vh solid rgb(21, 0, 32);
    border-top: 0.1vh solid rgb(21, 0, 32);
    border-right: 0.1vh solid rgb(21, 0, 32);

}

.ArcadeMediaText{

    width: 100%;

    font-size: 3rem;
    font-weight: bold;

}


@media (max-width: 1000px) {

    .ArcadeMediaContentBox{

        padding: 3rem;
        gap: 1rem;
        width: 80%;

    }


    .ArcadeVideoContainer {

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 60vw;

    }

    .ArcadeImage{

        width: 50vw;

        border-left: 0.5vh solid rgb(110, 0, 200); 
        border-bottom: 0.5vh solid rgb(200, 0, 187);  
        border-right: 0.5vh solid rgb(200, 0, 187);  
        border-top: 0.5vh solid rgb(110, 0, 200);   

    }

    .ArcadeMediaText{

        font-size: 2.5rem;

    }


}