.ArcadeMediaContainer{

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 1;     
    background-color: rgba(115, 0, 255, 0.541);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.ArcadeMediaContentBox{

    background-color: rgb(143, 234, 255);
    padding: 5vh;
    
    border-radius: 1vh;
    border-left: 0.8vh solid black;
    border-bottom: 0.8vh solid black;
    border-top: 0.3vh solid black;
    border-right: 0.3vh solid black;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 3vh;

}


.ArcadeVideoOuterContainer {
    
    width: 50vw;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    overflow-x: auto;
    padding: 3vh;

}

.ArcadeVideoContainer {

    min-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 1vh;
    border-left: 0.8vh solid black;
    border-bottom: 0.8vh solid black;
    border-top: 0.3vh solid black;
    border-right: 0.3vh solid black;

    background-color: rgb(221, 176, 255);
    padding: 2vh;

    gap: 2vh;

}


.viewVideoButton{

    background-color: rgb(216, 100, 255);
    padding: 1vh;
    font-size: clamp(1.2rem, 3vh, 2rem);

    border-left: 0.5vh solid black; 
    border-bottom: 0.5vh solid black; 

}

.viewVideoButton:hover{

    background-color: rgb(148, 54, 255);

    border-left: 0.7vh solid black; 
    border-bottom: 0.7vh solid black; 
    border-right: 0.2vh solid black; 
    border-top: 0.2vh solid black; 

}

.ArcadeImage{

    width: 17vw;

    border-left: 0.5vh solid rgb(110, 0, 200); 
    border-bottom: 0.5vh solid rgb(200, 0, 187); 
    border-right: 0.5vh solid rgb(200, 0, 187); 
    border-top: 0.5vh solid rgb(110, 0, 200);   

}

.closeButton{

    font-size: clamp(1.2rem, 3vh, 2rem);
    background-color: rgb(194, 109, 255);
    padding: 1vh;

    border-left: 0.7vh solid black; 
    border-bottom: 0.7vh solid black; 

}

.ArcadeMediaText{

    font-size: clamp(1.5rem, 4vh, 2.5rem);
    font-weight: bold;

}


@media (max-width: 1000px) {

    .ArcadeMediaContentBox{

        background-color: rgb(143, 234, 255);
        padding: 3vh;
        
        border-radius: 1vh;
        border-left: 0.8vh solid black;
        border-bottom: 0.8vh solid black;
        border-top: 0.3vh solid black;
        border-right: 0.3vh solid black;

        display: flex;
        flex-direction: column;
        align-items: center;

        gap: 3vh;

    }

    .ArcadeVideoContainer {

        min-width: 50vw;
        display: flex;
        flex-direction: column;
        align-items: center;

        border-radius: 1vh;
        border-left: 0.8vh solid black;
        border-bottom: 0.8vh solid black;
        border-top: 0.3vh solid black;
        border-right: 0.3vh solid black;

        background-color: rgb(221, 176, 255);
        padding: 2vh;

        gap: 2vh;

    }

    .ArcadeImage{

        width: 50vw;

        border-left: 0.5vh solid rgb(110, 0, 200); 
        border-bottom: 0.5vh solid rgb(200, 0, 187);  
        border-right: 0.5vh solid rgb(200, 0, 187);  
        border-top: 0.5vh solid rgb(110, 0, 200);   

    }


}