.projectScreen {

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 4rem;
    padding-bottom: 4rem;
    gap: 4rem;

}



.projectPageExpansionButton {

    padding: 1rem 1.5rem;
    border-radius: 7px;

}


.projectPageJumpButton {

    padding: 1rem 1.5rem;
    border-radius: 30px;

}


.projectSectionSubsectionGeneralContainer{

    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4rem;

}


.projectSectionSubsectionTitle{

    width: 100%;
    text-align: center;

    padding: 1rem;

    color: rgb(var(--color-pink-dark-detail-light));
    box-shadow: 0 0 10px 4px rgb(var(--color-pink-dark-detail-light));

}



.projectSectionDetailsContainer{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    justify-items: center;

    gap: 4rem;
    padding: 1rem;

}

.projectSectionDetailsContainer > :last-child:nth-child(odd) {
    grid-column: 1 / -1;
}


.projectSectionDetailsSectionContentContainer {

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 2rem;

    color: rgb(var(--color-blue-dark-detail-light));

}


.projectSectionDetailsSectionGeneralContentTimelineContainer{

    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.projectSectionDetailsSectionGeneralContentTimelineEntryContainer{

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 1rem;

}

.projectSectionDetailsSectionGeneralContentTimelineEntryDateContainer{

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 0.5rem;

}


.projectSectionDetailsSectionGeneralContentTimelineEntryVisualContainer{

    display: flex;
    flex-direction: row;

    gap: 0rem;

}


.projectSectionDetailsSectionGeneralContentTimelineEntryVisualPoint{

    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    background: rgb(var(--color-pink-dark-base));
    filter: drop-shadow(0 0 2px rgb(var(--color-pink-dark-detail-light)));

}


.projectSectionDetailsSectionGeneralContentTimelineEntryVisualLine {

    width: 5rem;
    border-radius: 0.1rem;

    border: 0.1rem solid rgb(var(--color-pink-dark-base));
    filter: drop-shadow(0 0 2px rgb(var(--color-pink-dark-detail-light)));

}



.projectSectionMediaSectionVideosExpandableContainer {

    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
        
    gap: 5rem;
    padding: 2rem;
    
}


.projectSectionMediaSectionVideosExpandableEntryContainer{

    display: flex;
    align-items: center;

    gap: 5rem;

    color: rgb(var(--color-blue-dark-detail-light));

    video{

        width: 60%;

        border-radius: 25px;

        animation: glowing-video 3s infinite;
    }

    video:hover{

        animation: glowing-video-hover 3s infinite;

    }

}

.projectSectionMediaSectionVideosExpandableEntryContainer-Even{

    flex-direction: row;

}

.projectSectionMediaSectionVideosExpandableEntryContainer-Odd{

    flex-direction: row-reverse;

}

.projectSectionMediaSectionVideosExpandableEntryInfoContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 1rem;

}


.projectSectionMediaSectionLinksContainer {

    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    gap: 3rem;

}


.projectSectionMediaSectionLinksEntryButton{

    padding: 1.5rem 2rem;
    border-radius: 8px;

}



@keyframes glowing-video {

  0% {
    box-shadow: 
      0 0 5px 2px rgba(var(--color-pink-dark-detail-light)),
      0 0 10px 4px rgba(var(--color-blue-dark-detail-light));
  }
  50% {
    box-shadow: 
      0 0 5px 2px rgba(var(--color-pink-dark-detail-light), 50%),
      0 0 10px 4px rgba(var(--color-blue-dark-detail-light), 50%);
  }
  100% {
    box-shadow:
      0 0 5px 2px rgba(var(--color-pink-dark-detail-light)),
      0 0 10px 4px rgba(var(--color-blue-dark-detail-light));
  }

}


@keyframes glowing-video-hover {

    0% {
        box-shadow: 
        0 0 6px 3px rgba(var(--color-pink-bright-detail-light)),
        0 0 12px 6px rgba(var(--color-blue-bright-detail-light));
    }
    50% {
        box-shadow: 
        0 0 6px 3px rgba(var(--color-pink-bright-detail-light), 50%),
        0 0 12px 6px rgba(var(--color-blue-bright-detail-light), 50%);
    }
    100% {
        box-shadow:
        0 0 6px 3px rgba(var(--color-pink-bright-detail-light)),
        0 0 12px 6px rgba(var(--color-blue-bright-detail-light));
    }

}


@media(pointer: coarse){


    .projectSectionMediaSectionVideosExpandableEntryContainer-Even{

        flex-direction: column;

    }

    .projectSectionMediaSectionVideosExpandableEntryContainer-Odd{

        flex-direction: column;

    }
    
}




/* Mobile adjustments */
@media (max-device-width: 1024px) and (pointer: coarse){

    .projectScreen {

        gap: 5rem;

    }

    .projectPageJumpButton {

        padding: 1.2rem 1.7rem;

    }

    .projectSectionDetailsContainer{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }


    .projectSectionMediaSectionVideosExpandableEntryContainer{

        gap: 2rem;

        video{

            width: 100%;

            border-radius: 15px;

        }

    }

    .projectSectionMediaSectionVideosExpandableEntryInfoContainer{

        width: 80%;

    }


    .projectSectionMediaSectionLinksEntryButton{

        padding: 1.7rem 2.2rem;

    }

}


@media (max-width: 900px) and (pointer: fine){

    .projectSectionDetailsContainer{

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }


    .projectSectionMediaSectionVideosExpandableContainer {
            
        gap: 4rem;
        
    }


    .projectSectionMediaSectionVideosExpandableEntryContainer{

        gap: 2rem;

        video{

            width: 100%;

            border-radius: 15px;

        }

    }

    .projectSectionMediaSectionVideosExpandableEntryContainer-Even{

        flex-direction: column;

    }

    .projectSectionMediaSectionVideosExpandableEntryContainer-Odd{

        flex-direction: column;

    }

    .projectSectionMediaSectionVideosExpandableEntryInfoContainer{

        width: 80%;

    }

}




@media (max-device-width: 600px) and (pointer: coarse){

    .projectScreen {

        padding-top: 2rem;
        padding-bottom: 2rem;

    }

    
    .projectSectionDetailsSectionGeneralContentTimelineContainer{

        gap: 1rem;

    }


    .projectSectionMediaSectionVideosExpandableContainer {
            
        padding: 1rem;

    }


    .projectSectionMediaSectionLinksContainer {

        flex-direction: column;

        gap: 2rem;

    }

}
