.projectScreen {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 4rem;

}

.upsideDownTitle{

transform: rotate(180deg);

}

.projectTitleIconContainer{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    background-color: rgb(0, 0, 0);

    mask-image: linear-gradient(to right, transparent 0%, black 35%, black 65%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 35%, black 65%, transparent 100%);

}

.projectTitleIconContainer-Arcade{

    background-image:
        linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0)),
        url("../../../images/Arcade.png");

    background-size: contain;
    background-position: center;

}


.projectTitleIconContainer-Scripta{

    background-image:
        linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0)),
        url("../../../images/Scripta.png");

    background-size: contain;
    background-position: center;


}


.projectTitleIconContainer-TritonTurnUp{

    background-image: 
        linear-gradient(rgb(0, 0, 0, 0.75), rgb(0, 0, 0, 0)),
        url("../../../images/TritonTurnup.svg");

    background-size: contain;
    background-position: center;

}

.projectSubTitle{

    width: 100%;
    text-align: center;

    padding: 0.5rem;

    color: rgb(10, 0, 148);

    background-color: rgb(158, 218, 255);
    box-shadow: 0 0 10px 5px rgb(130, 163, 254);

    mask-image: linear-gradient(to right, transparent 0%, black 35%, black 65%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 35%, black 65%, transparent 100%);

}



.projectConditionalButton {

    padding: 1rem 1.5rem;
    border-radius: 7px;

}



.projectGeneralButton {

    padding: 1rem 1.5rem;
    border-radius: 30px;

}



.projectDetailsContainer{

    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4rem;
    padding: 1rem;

}

.projectDetailsSubTitle{

    width: 100%;
    text-align: center;

    padding: 1rem;

    color: rgb(224, 222, 255);
    box-shadow: 0 0 8px 4px rgb(142, 130, 254);
    

}


.test{

    display: flex;
    flex-direction: row;

    gap: 4rem;

}

.testInner{

    width: 50%;
    display: flex;
    flex-direction: column;

    gap: 4rem;

}

.projectDetailsInfoBlockContainer {

    display: flex;
    flex-direction: column;

    gap: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;

    color: white;


}


.timeLineDot{

    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    background: rgb(255, 0, 230);

    filter: 
        drop-shadow(0 0 1px rgb(255, 255, 255))
        drop-shadow(0 0 2px rgb(255, 255, 255))
        drop-shadow(0 0 3px  rgb(255, 255, 255));

}

.timelineContainerSmall{

    display: none;

}

.timelineContainerInner{

    display: flex;
    flex-direction: column;

    gap: 0.5rem;

}

.timeline{

    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.timeLineDotDull{

    width: 1rem;
    height: 1rem;
    border-radius: 50%;

    background: rgb(177, 0, 160);

}


.timeLineDash {

    width: 5rem;
    border-radius: 0.1rem;

    border: 0.1rem solid rgb(253, 122, 255);

}



.projectVideoSectionContainer {

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

}

.projectVideoContainer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
        
    padding: 3rem 0rem;
    gap: 2rem;

}



.projectVideoCard {

    width: 30rem;
    display: flex;
    flex-direction: column;

    padding: 1rem;
    gap: 1rem;
    border-radius: 2rem;

    img {

        width: 8rem;

    }

}


.projectVideoCardInner{

    display: flex;
    flex-direction: row;

    gap: 2rem;
    padding: 1rem;

}


.projectLinksContainer {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 3rem;
    margin-bottom: 3rem;

}


.projectLinkButton{

    padding: 1.5rem 2rem;
    border-radius: 8px;

}





/* Mobile adjustments */
@media (max-device-width: 1024px) and (pointer: coarse){

    .projectScreen {

        margin-top: 6rem;
        margin-bottom: 6rem;
        gap: 5rem;

    }

    .projectGeneralButton {

        padding: 1.2rem 1.7rem;

        border-left: 4px solid rgb(41, 0, 47);
        border-bottom: 4px solid rgb(41, 0, 47);
        border-top: 1.5px solid rgb(41, 0, 47);
        border-right: 1.5px solid rgb(41, 0, 47);

    }

    .projectGeneralButton:hover {

        border-left: 4px solid rgb(41, 0, 47);
        border-bottom: 4px solid rgb(41, 0, 47);
        border-top: 1.5px solid rgb(41, 0, 47);
        border-right: 1.5px solid rgb(41, 0, 47);

    }


    .projectDetailsContainer{

        width: 95%;

    }


    .timelineContainerLarge{

        display: none;

    }

    .timelineContainerSmall{

        display: flex;
        flex-direction: column;

        gap: 3rem;

    }

    .test{

        flex-direction: column;

        gap: 4rem;

    }

    .testInner{

        width: 100%;

        gap: 4rem;

    }

    .projectVideoSectionContainer {

        gap: 3rem;

    }


    .projectVideoCard {

        width: 75%;
        padding: 1rem;
        gap: 1rem;

        transition: none;

        img{ 

            display: none;

        }

    }

    .projectVideoCard:hover {

        transform: none;

    }

    .projectLinkButton{

        padding: 1.7rem 2.2rem;

        border-left: 4.5px solid rgb(55, 0, 144);
        border-bottom: 4.5px solid rgb(55, 0, 144);
        border-top: 2px solid rgb(55, 0, 144);
        border-right: 2px solid rgb(55, 0, 144);

    }

    .projectLinkButton:hover{

        border-left: 4.5px solid rgb(17, 0, 50);
        border-bottom: 4.5px solid rgb(17, 0, 50);
        border-top: 2px solid rgb(17, 0, 50);
        border-right: 2px solid rgb(17, 0, 50);

    }

}


@media (max-width: 900px) and (pointer: fine){

    .projectDetailsInfoBlockContainer {

        padding-left: 0rem;
        padding-right: 0rem;

    }

    .timelineContainerLarge{

        display: none;

    }

    .timelineContainerSmall{

        display: flex;
        flex-direction: column;
        
        gap: 2rem;

    }

    .test{

        flex-direction: column;

        gap: 4rem;

    }

    .testInner{

        width: 100%;

        gap: 4rem;

    }

    .projectVideoCard {

        width: 90%;

        padding: 2rem;
        gap: 1rem;

        img{ 

            display: none;

        }

    }

}




@media (max-device-width: 600px) and (pointer: coarse){

    .projectDetailsInfoBlockContainer {

        padding-left: 0rem;
        padding-right: 0rem;

    }


    .projectVideoContainer {
            
        padding: 0rem;

    }


    .projectVideoCard {

        width: 100%;

    }


    .projectLinksContainer {

        flex-direction: column;

    }

}
