.projectScreen {

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 2rem;

}

.projectTitleIconContainer{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 3rem;

    img {

        width: 8em;

    }


}

.projectSubTitle{

  width: 100%;
  text-align: center;

  color: rgb(0, 24, 68);
  background-color: rgb(158, 218, 255);

  padding: 0.5rem;

  animation: glowing-shadow-subtitle 3s infinite;

}



.projectButton {

  padding: 1.5rem 2rem;
  border-radius: 0.5rem;

  color: rgb(61, 0, 59);
  background-color: rgb(250, 111, 255);
  border-left: 0.8vh solid rgb(90, 0, 104);
  border-bottom: 0.8vh solid rgb(90, 0, 104);
  border-top: 0.2vh solid rgb(90, 0, 104);
  border-right: 0.2vh solid rgb(90, 0, 104);

  animation: glowing-shadow-subtitle 3s infinite;

}


.projectButton:hover {

    color: white;
    background-color: rgb(129, 0, 133);
    border-left: 0.8vh solid rgb(41, 0, 47);
    border-bottom: 0.8vh solid rgb(41, 0, 47);
    border-top: 0.2vh solid rgb(41, 0, 47);
    border-right: 0.2vh solid rgb(41, 0, 47);

    animation: glowing-shadow-subtitle 3s infinite;

}


.projectBackButton:hover{

  background-color: rgb(82, 93, 255);
  color: white;

  border-left: 0.8vh solid rgb(29, 33, 95);
  border-bottom: 0.8vh solid rgb(29, 33, 95);
  border-top: 0.2vh solid rgb(29, 33, 95);
  border-right: 0.2vh solid rgb(29, 33, 95);

}


.projectInfoContainer{

    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;

    color: white;

}

.projectVideoSectionContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

}

.projectVideoContainer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
        
    padding: 3rem;
    gap: 3rem;

}


.projectVideoCard {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10em;
    padding: 2rem;
    gap: 1.5rem;

    color: rgb(227, 192, 255);
    box-shadow: 0 0 1vh 0.75vh rgb(195, 117, 255); 

    transition: transform 0.25s ease;

    img {

        width: 100%;
        box-shadow: 0 0 1vh 0.5vh rgb(195, 117, 255); 

    }


}

.projectVideoCard:hover {

    transform: scale(1.1);
    
    color: rgb(249, 192, 255);
    box-shadow: 0 0 1vh 0.75vh rgb(244, 93, 255);

    img {

        box-shadow: 0 0 1vh 0.5vh rgb(244, 93, 255);

    }

}


.projectLinksContainer {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 3rem;

}



/* Mobile adjustments */
@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {
        
    .projectButton{

        padding: 1.5vw 1.5vh;

        background-color: rgb(0, 179, 255);
        border-left: 0.35vh solid rgb(0, 91, 130);
        border-bottom: 0.35vh solid rgb(0, 91, 130);
        border-top: 0.1vh solid rgb(0, 91, 130);
        border-right: 0.1vh solid rgb(0, 91, 130);

    }

    .projectButton:hover{

        color: white;
        background-color: rgb(0, 47, 255);
        border-left: 0.35vh solid rgb(0, 24, 130);
        border-bottom: 0.35vh solid rgb(0, 24, 130);
        border-top: 0.1vh solid rgb(0, 24, 130);
        border-right: 0.1vh solid rgb(0, 24, 130);
        
    }

}
