.projectScreen {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 4rem;

}

.projectTitleIconContainer{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 3rem;

    img {

        width: 80px;

    }


}

.projectSubTitle{

    width: 100%;
    text-align: center;

    padding: 0.5rem;

    color: rgb(10, 0, 148);
    background-color: rgb(158, 218, 255);
    box-shadow: 0 0 10px 5px rgb(130, 163, 254);

}



.projectGeneralButton {

    padding: 1rem 1.5rem;
    border-radius: 7px;

    color: rgb(61, 0, 59);
    background-color: rgb(239, 168, 255);
    border-left: 3px solid rgb(90, 0, 104);
    border-bottom: 3px solid rgb(90, 0, 104);
    border-top: 1px solid rgb(90, 0, 104);
    border-right: 1px solid rgb(90, 0, 104);

    animation:  glowing-light-pink 3s infinite;

}


.projectGeneralButton:hover {

    color: white;
    background-color: rgb(129, 0, 133);
    border-left: 3px solid rgb(41, 0, 47);
    border-bottom: 3px solid rgb(41, 0, 47);
    border-top: 1px solid rgb(41, 0, 47);
    border-right: 1px solid rgb(41, 0, 47);

    animation: glowing-dark-pink 3s infinite;

}


.projectInfoContainer{

    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;

    gap: 2rem;

    color: white;

}

.projectVideoSectionContainer {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

}

.projectVideoContainer {

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
        
    padding: 3rem;
    gap: 3rem;

}


.projectVideoCard {

    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    gap: 1.5rem;

    color: rgb(227, 192, 255);

    animation: glowing-light-purple 2s infinite;
    transition: transform 0.25s ease;

    img {

        width: 100%;

        animation: glowing-light-purple 2s infinite;

    }

}


.projectVideoCard:hover {
    
    color: rgb(249, 192, 255);

    animation: glowing-dark-pink 2s infinite;
    transform: scale(1.1);

    img {

        animation: glowing-dark-pink 2s infinite;

    }

}


.projectLinksContainer {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 3rem;

}


.projectLinkButton{

    padding: 1.5rem 2rem;
    border-radius: 8px;
    
    color: rgb(58, 0, 139);
    background-color: rgb(208, 179, 255);
    border-left: 3.5px solid rgb(55, 0, 144);
    border-bottom: 3.5px solid rgb(55, 0, 144);
    border-top: 1.5px solid rgb(55, 0, 144);
    border-right: 1.5px solid rgb(55, 0, 144);

    animation: glowing-light-purple 3s infinite;

}


.projectLinkButton:hover{

    color: white;
    background-color: rgb(64, 0, 183);
    border-left: 3.5px solid rgb(17, 0, 50);
    border-bottom: 3.5px solid rgb(17, 0, 50);
    border-top: 1.5px solid rgb(17, 0, 50);
    border-right: 1.5px solid rgb(17, 0, 50);

    animation: glowing-dark-blue 3s infinite;

}





/* Mobile adjustments */
@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {
    
    

}
