.skillExpandedCardFlag{

    position: absolute;
    inset: 0; 
    z-index: 1;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(103, 121, 255, 0.5);
    box-shadow: 0 0 2vh 1vh rgb(154, 141, 255);

}

.skillExpandedCard{

    height: 60%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 2rem 1rem;
    gap: 2rem;

    background-color: rgb(230, 147, 255);
    border-left: 0.8vh solid rgb(40, 55, 74);
    border-bottom: 0.8vh solid rgb(40, 55, 74);
    border-top: 0.3vh solid rgb(40, 55, 74);
    border-right: 0.3vh solid rgb(40, 55, 74);

    box-shadow: 0 0 1vh 0.5vh rgb(254, 203, 255);

}

.skillExpandedCardDescription {

    height: 80%;
    width: 80%;
    overflow-y: auto;
    
    font-weight: bold;

    color: black;

}

.skillExpandedCardButton {

    padding: 1rem 1.5rem;
    border-radius: 0.5rem;

    color: black;
    background-color: rgb(137, 210, 255);
    border-left: 0.3rem solid rgb(40, 55, 74);
    border-bottom: 0.3rem solid rgb(40, 55, 74);
    border-top: 0.1rem solid rgb(40, 55, 74);
    border-right: 0.1rem solid rgb(40, 55, 74);

}

.skillExpandedCardButton:hover {

    color: white;
    background-color: rgb(0, 52, 184);
    border-left: 0.3rem solid rgb(6, 0, 67);
    border-bottom: 0.3rem solid rgb(6, 0, 67);
    border-top: 0.1rem solid rgb(6, 0, 67);
    border-right: 0.1rem solid rgb(6, 0, 67);

}