.skillExpandedCardFlag{

    position: absolute;
    inset: 0; 
    z-index: 1;    
    display: flex;
    flex-direction: column;

    background-color: rgba(129, 144, 255, 0.5);
    box-shadow: 0 0 8px 4px rgb(154, 141, 255);

}

.skillExpandedCard{

    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem;
    gap: 2.5rem;

    color: rgb(235, 229, 255);
    background-color: rgba(16, 0, 46, 0.75);
    box-shadow: 0 0 6px 3px rgb(169, 163, 255);

}


.skillExpandedCardDescription {

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    gap: 0.5rem;

}

.skillExpandedCardButton {

    padding: 1rem 1.5rem;
    border-radius: 5px;

    color: rgb(14, 0, 104);
    background-color: rgb(200, 233, 255);
    border-left: 3.5px solid rgb(0, 71, 118);
    border-bottom: 3.5px solid rgb(0, 71, 118);
    border-top: 1px solid rgb(0, 71, 118);
    border-right: 1px solid rgb(0, 71, 118);

    animation: glowing-light-turquoise 3s infinite;

}

.skillExpandedCardButton:hover {

    color: white;
    background-color: rgb(0, 52, 184);
    border-left: 3.5px solid rgb(6, 0, 67);
    border-bottom: 3.5px solid rgb(6, 0, 67);
    border-top: 1px solid rgb(6, 0, 67);
    border-right: 1px solid rgb(6, 0, 67);

    animation: glowing-dark-blue 3s infinite;

}





@media (max-device-width: 1024px) and (pointer: coarse){

    .skillExpandedCard{
        
        gap: 3.5rem;

    }

    .skillExpandedCardButton {

        padding: 1.2rem 1.7rem;

        border-left: 4.5px solid rgb(0, 71, 118);
        border-bottom: 4.5px solid rgb(0, 71, 118);
        border-top: 1.5px solid rgb(0, 71, 118);
        border-right: 1.5px solid rgb(0, 71, 118);
        
    }

    .skillExpandedCardButton:hover {

        border-left: 4.5px solid rgb(6, 0, 67);
        border-bottom: 4.5px solid rgb(6, 0, 67);
        border-top: 1.5px solid rgb(6, 0, 67);
        border-right: 1.5px solid rgb(6, 0, 67);
        
    }

}



@media (max-width: 900px) and (pointer: coarse){

    .skillExpandedCardDescription {

        gap: 2rem;

    }

}



@media (max-width: 900px) and (pointer: fine){

    .skillExpandedCard{

        gap: 3.5rem;

    }

    .skillExpandedCardDescription {

        gap: 2rem;

    }

}