.skillExpandedCardFlag{

    position: absolute;
    inset: 0; 
    z-index: 1;    
    display: flex;
    flex-direction: column;

    background-color: rgba(129, 144, 255, 0.5);
    box-shadow: 0 0 8px 4px rgb(154, 141, 255);

}

.skillExpandedCard{

    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem;
    gap: 2.5rem;

    color: rgb(235, 229, 255);
    background-color: rgba(16, 0, 46, 0.75);
    box-shadow: 0 0 6px 3px rgb(169, 163, 255);

}


.skillExpandedCardDescription {

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    gap: 0.5rem;

}

.skillExpandedCardButton {

    padding: 1rem 1.5rem;
    border-radius: 5px;

}





@media (max-device-width: 1024px) and (pointer: coarse){

    .skillExpandedCardFlag{

        position: fixed;

    } 
    
    .skillExpandedCard{
        
        gap: 3.5rem;

    }


    .skillExpandedCardButton {

        padding: 1.2rem 1.7rem;
        
    }

}




@media (max-width: 900px) and (pointer: fine){

    .skillExpandedCardFlag{

        position: fixed;

    } 

    .skillExpandedCard{

        gap: 3.5rem;

    }

    .skillExpandedCardDescription {

        gap: 1rem;

    }

}


@media (max-width: 600px) and (pointer: coarse){

    .skillExpandedCardDescription {

        gap: 2rem;

    }

}