.skillExpandedCardFlag{

    position: absolute;
    inset: 0; 
    z-index: 1;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: rgba(103, 121, 255, 0.5);
    box-shadow: 0 0 1rem 0.25rem rgb(154, 141, 255);

}

.skillExpandedCard{

    height: 75%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 2rem;
    padding: 3rem 1rem;
    gap: 2rem;

    background-color: rgba(13, 0, 39, 0.65);
    box-shadow: 0 0 1rem 0.25rem rgb(169, 163, 255);

}

.skillExpandedCardDescription {

    height: 80%;
    width: 80%;
    overflow-y: auto;
    
    color: rgb(235, 229, 255);

}

.skillExpandedCardButton {

    padding: 1rem 1.5rem;
    border-radius: 0.5rem;

    color: rgb(14, 0, 104);
    background-color: rgb(200, 233, 255);
    border-left: 0.3rem solid rgb(0, 71, 118);
    border-bottom: 0.3rem solid rgb(0, 71, 118);
    border-top: 0.1rem solid rgb(0, 71, 118);
    border-right: 0.1rem solid rgb(0, 71, 118);

    animation: glowing-light-turquoise 3s infinite;

}

.skillExpandedCardButton:hover {

    color: white;
    background-color: rgb(0, 52, 184);
    border-left: 0.3rem solid rgb(6, 0, 67);
    border-bottom: 0.3rem solid rgb(6, 0, 67);
    border-top: 0.1rem solid rgb(6, 0, 67);
    border-right: 0.1rem solid rgb(6, 0, 67);

    animation: glowing-dark-blue 3s infinite;

}