.skillsExpandedCardBackgroundContainer{

    position: fixed;
    inset: 0; 
    z-index: 1;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: radial-gradient(circle, rgba(var(--color-blue-dark-detail-light), 50%) 0%, rgba(var(--color-pink-dark-detail-dark), 50%) 75%);

}

.skillExpandedCardBackgroundFlagContainer{

    max-height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem;
    gap: 2.5rem;
    border-radius: 2rem;

    color: rgb(var(--color-blue-dark-detail-light));
    background-color: rgba(var(--color-blue-dark-detail-dark), 75%);
    box-shadow: 0 0 10px 4px rgb(var(--color-blue-dark-detail-light));

}


.skillExpandedCardBackgroundFlagContentContainer {

    display: flex;
    flex-direction: column;
    overflow-y: auto;

    gap: 1rem;

}

.skillExpandedCardBackgroundFlagCloseButton {

    padding: 1rem 1.5rem;
    border-radius: 5px;

}





@media (max-device-width: 1024px) and (pointer: coarse){

    .skillsExpandedCardBackgroundContainer{

        justify-content: start;

    } 
    
    .skillExpandedCardBackgroundFlagContainer{

        width: 100%;
        
        gap: 3.5rem;
        border-radius: 0rem;
        
    }


    .skillExpandedCardBackgroundFlagCloseButton {

        padding: 1.2rem 1.7rem;
        
    }

}




@media (max-width: 900px) and (pointer: fine){

    .skillsExpandedCardBackgroundContainer{

        justify-content: start;
    } 

    .skillExpandedCardBackgroundFlagContainer{

        width: 100%;

        gap: 3.5rem;
        border-radius: 0rem;

    }

    .skillExpandedCardBackgroundFlagContentContainer {

        gap: 1rem;

    }

}


@media (max-width: 600px) and (pointer: coarse){

    .skillExpandedCardBackgroundFlagContainer{

        padding: 3rem 2rem;

    }


    .skillExpandedCardBackgroundFlagContentContainer {

        gap: 2rem;

    }

}