.contactContainer {
    
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;  

    gap: 3rem;
    
}

.contactBox{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    padding: 2rem;

    background-color: rgb(101, 255, 255);
    border-left: 4px solid rgb(42, 82, 82);
    border-bottom: 4px solid rgb(42, 82, 82);
    border-top: 1px solid rgb(42, 82, 82);
    border-right: 1px solid rgb(42, 82, 82);

    animation: glowing-light-turquoise 3s infinite;

}

.contactBox:hover{

    background-color: rgb(44, 147, 147);
    border-left: 4px solid rgb(19, 72, 72);
    border-bottom: 4px solid rgb(19, 72, 72);
    border-top: 1px solid rgb(19, 72, 72);
    border-right: 1px solid rgb(19, 72, 72);

    animation: glowing-dark-turquoise 3s infinite;

}

.contactImage{

    height: 70px;
    width: 70px;

}


@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none){




}