.introText{

  width: 90%;
  text-align: center;
  color: white;

}

.resumeButton {

  padding: 1.5rem 2rem;
  border-radius: 5px;

  color: rgb(0, 58, 103);
  background-color: rgb(156, 240, 255);
  border-left: 3.5px solid rgb(0, 104, 104);
  border-bottom: 3.5px solid rgb(0, 104, 104);
  border-top: 1px solid rgb(0, 104, 104);
  border-right: 1px solid rgb(0, 104, 104);

  animation: glowing-light-turquoise 3s infinite;

}

.resumeButton:hover{

  color: white;
  background-color: rgb(82, 93, 255);
  border-left: 3.5px solid rgb(29, 33, 95);
  border-bottom: 3.5px solid rgb(29, 33, 95);
  border-top: 1px solid rgb(29, 33, 95);
  border-right: 1px solid rgb(29, 33, 95);

  animation: glowing-dark-blue 3s infinite;

}




/* Mobile adjustments */
@media (max-device-width: 1024px) and (pointer: coarse){

  .resumeButton {

    padding: 1.7rem 2.2rem;

    border-left: 4.5px solid rgb(0, 104, 104);
    border-bottom: 4.5px solid rgb(0, 104, 104);
    border-top: 1.5px solid rgb(0, 104, 104);
    border-right: 1.5px solid rgb(0, 104, 104);

  }

  .resumeButton:hover{

    border-left: 4.5px solid rgb(29, 33, 95);
    border-bottom: 4.5px solid rgb(29, 33, 95);
    border-top: 1.5px solid rgb(29, 33, 95);
    border-right: 1.5px solid rgb(29, 33, 95);

  }

}



@media (max-device-width: 600px) and (pointer: coarse){

  .introText{

    width: 100%;

  }

}

@media (max-width: 600px) and (pointer: fine){

  .introText{

    width: 100%;

  }

}

