.introText{

  text-align: center;
  color: white;

}

.resumeButton {

  padding: 1.5rem 2rem;
  border-radius: 5px;

  color: rgb(0, 58, 103);
  background-color: rgb(156, 240, 255);
  border-left: 3.5px solid rgb(0, 104, 104);
  border-bottom: 3.5px solid rgb(0, 104, 104);
  border-top: 1px solid rgb(0, 104, 104);
  border-right: 1px solid rgb(0, 104, 104);

  animation: glowing-light-turquoise 3s infinite;

}

.resumeButton:hover{

  color: white;
  background-color: rgb(82, 93, 255);
  border-left: 3.5px solid rgb(29, 33, 95);
  border-bottom: 3.5px solid rgb(29, 33, 95);
  border-top: 1px solid rgb(29, 33, 95);
  border-right: 1px solid rgb(29, 33, 95);

  animation: glowing-dark-blue 3s infinite;

}




/* Mobile adjustments */
@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {


  .resumeButton {

    padding: 2.5rem 3rem;

  }

}
