.introductionParagraphContainer{

  width: 90%;
  text-align: center;
  color: white;

}

.introductionResumeButton {

  padding: 1.5rem 2rem;
  border-radius: 5px;

}




/* Mobile adjustments */
@media (max-device-width: 1024px) and (pointer: coarse){

  .introductionResumeButton {

    padding: 1.7rem 2.2rem;

  }

}



@media (max-device-width: 600px) and (pointer: coarse){

  .introductionParagraphContainer{

    width: 100%;

  }

}

@media (max-width: 600px) and (pointer: fine){

  .introductionParagraphContainer{

    width: 100%;

  }

}

