.introText{

  text-align: center;
  color: white;

}

.resumeButton {

  padding: 1.5rem 2rem;
  border-radius: 0.5rem;

  color: rgb(0, 58, 103);
  background-color: rgb(156, 240, 255);
  border-left: 0.3rem solid rgb(0, 104, 104);
  border-bottom: 0.3rem solid rgb(0, 104, 104);
  border-top: 0.1rem solid rgb(0, 104, 104);
  border-right: 0.1rem solid rgb(0, 104, 104);

  animation: glowing-light-turquoise 3s infinite;

}

.resumeButton:hover{

  color: white;
  background-color: rgb(82, 93, 255);
  border-left: 0.3rem solid rgb(29, 33, 95);
  border-bottom: 0.3rem solid rgb(29, 33, 95);
  border-top: 0.1rem solid rgb(29, 33, 95);
  border-right: 0.1rem solid rgb(29, 33, 95);

  animation: glowing-dark-blue 3s infinite;

}




/* Mobile adjustments */
@media (max-device-width: 1024px) and (orientation: portrait) and (hover: none) {



}
