.projectsContainer{

    width: 90%;
    display: flex;
    flex-direction: column;

    gap: 3rem;

}

.projectContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 5rem;

}

.projectCard{

    width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3rem 4rem;
    gap: 2rem;

    color: rgb(4, 0, 60);
    background-color: rgb(184, 225, 254);
    box-shadow: 0 0 8px 4px rgb(159, 204, 255);

    mask-image: linear-gradient(to right, transparent 0%, rgb(159, 204, 255) 5%, rgb(159, 204, 255) 95%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, rgb(159, 204, 255) 5%, rgb(159, 204, 255)k 95%, transparent 100%);

}


.projectCard-ArcadeSmall{

    background-image: 
        linear-gradient(rgb(184, 225, 254, 0.75), rgb(184, 225, 254, 0.75)),
        url("../../../images/Arcade.png");

    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


.projectCard-ScriptaSmall{

    background-image: 
        linear-gradient(rgb(184, 225, 254, 0.75), rgb(184, 225, 254, 0.75)),
        url("../../../images/Scripta.png");
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


.projectCard-TritonTurnUpSmall{

    background-image: 
        linear-gradient(rgb(184, 225, 254, 0.75), rgb(184, 225, 254, 0.75)),
        url("../../../images/TritonTurnup.svg");

    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}


.projectHorizontalLine{

    width: 85%;
    height: 1.5px;

    background-color: #000322;

}

.projectSummaryContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

}


.goToProjectButton {

  padding: 1.5rem 2rem;
  border-radius: 30px;

}




@media (max-device-width: 1024px) and (pointer: coarse) {

    .projectsContainer{

        width: 95%;
        gap: 5rem;

    }

    .projectContainer {

        flex-direction: column;

        gap: 2rem;

    }


    .projectCard{

        width: 80%;

    }


    .projectSummaryContainer{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 1rem;

    }

    .goToProjectButton {

        padding: 1.7rem 2.2rem;

        border-left: 4.5px solid rgb(0, 13, 134);
        border-bottom: 4.5px solid rgb(0, 13, 134);
        border-top: 1.5px solid rgb(0, 13, 134);
        border-right: 1.5px solid rgb(0, 13, 134);

    }

    .goToProjectButton:hover {

        border-left: 4.5px solid rgb(0, 4, 58);
        border-bottom: 4.5px solid rgb(0, 4, 58);
        border-top: 1.5px solid rgb(0, 4, 58);
        border-right: 1.5px solid rgb(0, 4, 58);

    }


}



@media (max-width: 900px) and (pointer: fine) {

    .projectsContainer{

        width: 95%;
        gap: 5rem;

    }

    .projectContainer {

        gap: 2rem;

    }


    .projectCard{

        width: 100%;

        padding: 2rem;

    }


    .projectSummaryContainer{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 1rem;

    }

}



@media (max-device-width: 600px) and (pointer: coarse) {

    .projectsContainer{

        width: 100%;

    }

    .projectCard{

        width: 100%;

        padding: 2rem;

    }

}
