.projectsContainer{

    width: 90%;
    display: flex;
    flex-direction: column;

    gap: 3rem;

}

.projectsEntryContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 5rem;

}

.projectsEntryCardContainer{

    width: 45rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3rem 4rem;
    gap: 2rem;

    color: rgb(var(--color-blue-bright-detail-dark));
    background: rgb(255, 255, 255, 0.75);
    mask-image: linear-gradient(to right, transparent 0%, rgb(0,0,0) 5%, rgb(0,0,0) 95%, transparent 100%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, rgb(0,0,0) 5%, rgb(0,0,0) 95%, transparent 100%);

}


.projectsEntryCardContainer-Arcade{

    background-image: 
        linear-gradient(rgba(var(--color-pink-bright-base), 0.75), rgba(var(--color-blue-bright-base), 0.75)),
        url("../../../images/Arcade.png");

    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


.projectsEntryCardContainer-Scripta{

    background-image: 
        linear-gradient(rgba(var(--color-pink-bright-base), 0.75), rgba(var(--color-blue-bright-base), 0.75)),
        url("../../../images/Scripta.png");
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


.projectsEntryCardContainer-TritonTurnUp{

    background-image: 
        linear-gradient(rgba(var(--color-pink-bright-base), 0.75), rgba(var(--color-blue-bright-base), 0.75)),
        url("../../../images/TritonTurnup.svg");

    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;


}


.projectsEntryCardContainer-UpDownTime{

    background-image: 
        linear-gradient(rgba(var(--color-pink-bright-base), 0.75), rgba(var(--color-blue-bright-base), 0.75)),
        url("../../../images/UpDownTime.png");

    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}


.projectsEntryCardHorizontalLine{

    width: 85%;
    height: 1.5px;

    background-color: rgb(var(--color-blue-bright-detail-dark));

}

.projectsEntryCardDescriptionContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;

}


.projectsEntryReadMoreButton {

  padding: 1.5rem 2rem;
  border-radius: 30px;

}




@media (max-device-width: 1024px) and (pointer: coarse) {

    .projectsContainer{

        width: 95%;
        gap: 5rem;

    }

    .projectsEntryContainer {

        flex-direction: column;

        gap: 2rem;

    }


    .projectsEntryCardContainer{

        width: 80%;

    }


    .projectsEntryCardDescriptionContainer{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 1rem;

    }

    .projectsEntryReadMoreButton {

        padding: 1.7rem 2.2rem;

    }


}



@media (max-width: 900px) and (pointer: fine) {

    .projectsContainer{

        width: 95%;
        gap: 5rem;

    }

    .projectsEntryContainer {

        gap: 2rem;

    }


    .projectsEntryCardContainer{

        width: 100%;

        padding: 2rem;

    }


    .projectsEntryCardDescriptionContainer{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 1rem;

    }

}



@media (max-device-width: 600px) and (pointer: coarse) {

    .projectsContainer{

        width: 100%;

    }

    .projectsEntryCardContainer{

        width: 100%;

        padding: 2rem;

    }

}
