.projectsContainer{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;
    padding: 1rem;

}

.projectContainer {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    gap: 5rem;

}

.projectCard{

    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem;
    gap: 1rem;

    color: rgb(4, 0, 60);
    background-color: rgb(184, 225, 254);
    box-shadow: 0 0 8px 4px rgb(159, 204, 255);

}

.projectHorizontalLine{

    width: 85%;
    height: 1.5px;

    background-color: #000322;

}

.projectIntroContainer {

    display: flex;
    flex-direction: row;

    gap: 3rem;
    padding: 1rem;

}

.projectSummaryContainer{

    display: flex;
    flex-direction: column;

    gap: 1rem;

}


.projectImage {

    width: 100px;

    padding: 1rem;

    box-shadow: 0 0 6px 3px rgb(191, 0, 255);
    border-left: 2px solid rgb(153, 0, 255);
    border-bottom: 2px solid rgb(153, 0, 255);
    border-top: 2px solid rgb(225, 0, 255);
    border-right: 2px solid rgb(225, 0, 255);

}

.goToProjectButton {

  padding: 1.5rem 2rem;
  border-radius: 7px;

  color: rgb(0, 0, 164);
  background-color: rgb(179, 187, 255);
  border-left: 3.5px solid rgb(0, 13, 134);
  border-bottom: 3.5px solid rgb(0, 13, 134);
  border-top: 1px solid rgb(0, 13, 134);
  border-right: 1px solid rgb(0, 13, 134);

  animation: glowing-light-blue 3s infinite;

}

.goToProjectButton:hover{

  color: white;
  background-color: rgb(0, 12, 174);
  border-left: 3.5px solid rgb(0, 4, 58);
  border-bottom: 3.5px solid rgb(0, 4, 58);
  border-top: 1px solid rgb(0, 4, 58);
  border-right: 1px solid rgb(0, 4, 58);

  animation: glowing-dark-blue 3s infinite;

}




@media (max-device-width: 1024px) and (pointer: coarse) {

    .projectsContainer{

        gap: 5rem;

    }

    .projectContainer {

        flex-direction: column;

        gap: 2rem;

    }


    .projectCard{

        width: 80%;

    }


    .projectIntroContainer {

        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 4rem;
        padding: 1.5rem;

    }


    .projectSummaryContainer{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 1rem;

    }

    .projectImage {

        width: 120px;

    }

    .goToProjectButton {

        padding: 1.7rem 2.2rem;

        border-left: 4.5px solid rgb(0, 13, 134);
        border-bottom: 4.5px solid rgb(0, 13, 134);
        border-top: 1.5px solid rgb(0, 13, 134);
        border-right: 1.5px solid rgb(0, 13, 134);

    }

    .goToProjectButton:hover {

        border-left: 4.5px solid rgb(0, 4, 58);
        border-bottom: 4.5px solid rgb(0, 4, 58);
        border-top: 1.5px solid rgb(0, 4, 58);
        border-right: 1.5px solid rgb(0, 4, 58);

    }

}




@media (max-device-width: 600px) and (pointer: coarse) {

    .projectCard{

        width: 100%;

        padding: 2rem 1rem;

    }

}



@media (max-width: 900px) and (pointer: fine) {

    .projectsContainer{

        gap: 5rem;

    }

    .projectContainer {

        gap: 2rem;

    }


    .projectCard{

        width: 100%;

        padding: 2rem 1rem;

    }


    .projectIntroContainer {

        flex-direction: column;
        justify-content: center;
        align-items: center;

        gap: 4rem;
        padding: 1.5rem;

    }


    .projectSummaryContainer{

        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        gap: 1rem;

    }

    .projectImage {

        width: 120px;

    }

}