.skillsContainer{

  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  gap: 3rem;
  padding: 4rem;

  color: white;
  box-shadow: 0 0 10px 5px rgb(117, 145, 229);

}

.skill{

  width: 15rem;
  min-height: 13rem;
  text-align: center;

  padding: 3rem 4rem;

  color: rgb(250, 203, 255);
  border: none;
  background-color: inherit;

  animation: glowing-dark-pink 2s infinite;
  transition: transform 0.25s ease;

}


.skill:hover{

  color: rgb(255, 255, 255);

  animation:  glowing-light-pink 2s infinite;
  transform: scale(1.1);

}




@media (max-device-width: 1024px) and (pointer: coarse){

  .skillsContainer{

    padding: 4rem 2rem;

  }

  .skill{

    width: 17rem;
    min-height: 15rem;
    padding: 4rem 3rem;

  }

}



@media (max-device-width: 600px) and (pointer: coarse){

  .skillsContainer{

    flex-direction: column;

    padding: 3rem;
    gap: 2rem;

  }

  .skill{

    width: 100%;
    min-height: 0;
    padding: 4rem;

    transition: none;

  }

  .skill:hover{

    transform: none;

  }

}





@media (max-width: 600px) and (pointer: fine){

  .skillsContainer{

    flex-direction: column;

    padding: 3rem;
    gap: 2rem;

  }

  .skill{

    width: 100%;
    min-height: 0;
    padding: 4rem;

    transition: none;

  }

  .skill:hover{

    transform: none;

  }

}