.techStackContainer{

  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  gap: 3rem;
  padding: 1rem;

  color: white;

}


.techStackEntry{

  height: 8rem;

  filter: 
      drop-shadow(0 0 3px rgb(248, 194, 255))
      drop-shadow(0 0 6px rgb(204, 138, 255));

}


@media (max-device-width: 1024px) and (pointer: coarse){

  .techStackContainer{

    width: 95%;

    padding: 0rem;
    gap: 2rem;

  }

  .techStackEntry{

    height: 5rem;

  }

}


@media (max-width: 900px) and (pointer: fine){

  .techStackContainer{

    width: 95%;
    
    padding: 0rem;
    gap: 2rem;

  }

  .techStackEntry{

    height: 5rem;

  }

}